/*
* FONTS
*/
/*
* MEDIA QUERIES
*/
/*
* SPACING
*/
/*
* LAYOUT 
*/
/* 
* library of mixins and variables for styling the controls in the UI Library.
* FOR USE ONLY BY FILES WITHIN THE UI LIBRARY PACKAGE ITSELF. DO NOT INCLUDE THIS FILE ELSEWHERE.
*/
/*
 * Typography
 */
/*
 * Color and styling mixins
 */
/*
 * meters (used for range slider, progress meter, and similar meters)
 */
/*
  * checkboxes and radios
  */
/*
  * option sets
  */
/*
 * NEW PLATFORM standard styling for controls that look like textbuttons
 */
/*
 * Icons and sprites
 *
 * height and width variables are in CSS pixels rather than image pixels
 */
/* 
 * "packagecssroot" is the path to the root CSS directory within the UI Library package. 
 * This path will be relative to the stylesheet that uses the mixin, not to the location of the mixin itself.
 * From the package's own stylesheets in /css/controls, this would therefore be "..", which is why that value is the default.
 * However, if these mixins are used outside the package, this will need to be explicitly set to something like "/vp/css/pkg/vp.uilibrary"
 */
/*
 * =============================================================================================================
 * GLOBALS FOR OLD PLATFORM ONLY.
 * Not for use on the new platform.
 * =============================================================================================================
 */
/* 
    Reminder: for use ONLY within the UI Library package! 

    Primarily used by the .typography-2017 selector, but also needed by some other UI Library elements that should 
    have this typography whether or not they are inside a typography-2017 section (e.g. the 2017 modal dialog skins).
*/
/* 
 * DEPRECATED. Use the visually-hidden() mixin instead of this value. 
 * some form elements need to hidden from view, but if you use display:none, some browsers have problems with event handlers.
 * instead, we have a mixin set the left property to this value, to shift the element leftwards out of view.
 */
/*
 * spacing
 *
 * These use !important because we assume that if you are deliberately asking for a particular 
 * spacing, you want that spacing to win any specificity wars.
 */
 .m-0 {
  margin: 0 !important;
}
.m-s {
  margin: 8px !important;
}
.m-m {
  margin: 16px !important;
}
.m-l {
  margin: 32px !important;
}
.m-xl {
  margin: 64px !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mt-s {
  margin-top: 8px !important;
}
.mt-m {
  margin-top: 16px !important;
}
.mt-l {
  margin-top: 32px !important;
}
.mt-xl {
  margin-top: 64px !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-s {
  margin-bottom: 8px !important;
}
.mb-m {
  margin-bottom: 16px !important;
}
.mb-l {
  margin-bottom: 32px !important;
}
.mb-xl {
  margin-bottom: 64px !important;
}
.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.my-s {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}
.my-m {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}
.my-l {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}
.my-xl {
  margin-top: 64px !important;
  margin-bottom: 64px !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.ml-s {
  margin-left: 8px !important;
}
.ml-m {
  margin-left: 16px !important;
}
.ml-l {
  margin-left: 32px !important;
}
.ml-xl {
  margin-left: 64px !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.mr-s {
  margin-right: 8px !important;
}
.mr-m {
  margin-right: 16px !important;
}
.mr-l {
  margin-right: 32px !important;
}
.mr-xl {
  margin-right: 64px !important;
}
.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.mx-s {
  margin-left: 8px !important;
  margin-right: 8px !important;
}
.mx-m {
  margin-left: 16px !important;
  margin-right: 16px !important;
}
.mx-l {
  margin-left: 32px !important;
  margin-right: 32px !important;
}
.mx-xl {
  margin-left: 64px !important;
  margin-right: 64px !important;
}
.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.p-s {
  padding: 8px !important;
}
.p-m {
  padding: 16px !important;
}
.p-l {
  padding: 32px !important;
}
.p-xl {
  padding: 64px !important;
}
.pt-s {
  padding-top: 8px !important;
}
.pt-m {
  padding-top: 16px !important;
}
.pt-l {
  padding-top: 32px !important;
}
.pt-xl {
  padding-top: 64px !important;
}
.pb-s {
  padding-bottom: 8px !important;
}
.pb-m {
  padding-bottom: 16px !important;
}
.pb-l {
  padding-bottom: 32px !important;
}
.pb-xl {
  padding-bottom: 64px !important;
}
.py-s {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.py-m {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}
.py-l {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}
.py-xl {
  padding-top: 64px !important;
  padding-bottom: 64px !important;
}
.pl-s {
  padding-left: 8px !important;
}
.pl-m {
  padding-left: 16px !important;
}
.pl-l {
  padding-left: 32px !important;
}
.pl-xl {
  padding-left: 64px !important;
}
.pr-s {
  padding-right: 8px !important;
}
.pr-m {
  padding-right: 16px !important;
}
.pr-l {
  padding-right: 32px !important;
}
.pr-xl {
  padding-right: 64px !important;
}
.px-s {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.px-m {
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.px-l {
  padding-left: 32px !important;
  padding-right: 32px !important;
}
.px-xl {
  padding-left: 64px !important;
  padding-right: 64px !important;
}