/*
* FONTS
*/
/*
* MEDIA QUERIES
*/
/*
* SPACING
*/
/*
* LAYOUT 
*/
/* 
* library of mixins and variables for styling the controls in the UI Library.
* FOR USE ONLY BY FILES WITHIN THE UI LIBRARY PACKAGE ITSELF. DO NOT INCLUDE THIS FILE ELSEWHERE.
*/
/*
 * Typography
 */
/*
 * Color and styling mixins
 */
/*
 * meters (used for range slider, progress meter, and similar meters)
 */
/*
  * checkboxes and radios
  */
/*
  * option sets
  */
/*
 * NEW PLATFORM standard styling for controls that look like textbuttons
 */
/*
 * Icons and sprites
 *
 * height and width variables are in CSS pixels rather than image pixels
 */
/* 
 * "packagecssroot" is the path to the root CSS directory within the UI Library package. 
 * This path will be relative to the stylesheet that uses the mixin, not to the location of the mixin itself.
 * From the package's own stylesheets in /css/controls, this would therefore be "..", which is why that value is the default.
 * However, if these mixins are used outside the package, this will need to be explicitly set to something like "/vp/css/pkg/vp.uilibrary"
 */
/*
 * =============================================================================================================
 * GLOBALS FOR OLD PLATFORM ONLY.
 * Not for use on the new platform.
 * =============================================================================================================
 */
/* 
    Reminder: for use ONLY within the UI Library package! 

    Primarily used by the .typography-2017 selector, but also needed by some other UI Library elements that should 
    have this typography whether or not they are inside a typography-2017 section (e.g. the 2017 modal dialog skins).
*/
/* 
 * DEPRECATED. Use the visually-hidden() mixin instead of this value. 
 * some form elements need to hidden from view, but if you use display:none, some browsers have problems with event handlers.
 * instead, we have a mixin set the left property to this value, to shift the element leftwards out of view.
 */
/*
*
* UI Library core controls
* Contains elements that are either foundational, extremely common, or too small to justify their own file
* 
*/
/*
 * page layout and page basics
 */
 * {
  box-sizing: border-box;
}
html {
  color: #00111a;
  font-family: 'MarkPro', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5em;
}
html[lang="ja-jp"] html,
.lang-jp html {
  font-family: 'MS Gothic', 'MS Mincho', sans-serif;
}
body {
  padding: 0;
  margin: 0;
  background: #fff;
}
.site-content {
  margin: 0 auto;
}
.site-main {
  position: relative;
  z-index: 1;
}
/*
 * typography
 */
strong,
b {
  font-weight: 600;
}
em,
dfn,
i {
  font-style: italic;
}
s,
del,
strike {
  text-decoration: line-through;
}
.semibold,
.semi-bold {
  font-weight: 600;
}
.small {
  font-size: 14px;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}
/* 
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 8px;
  padding-top: 0;
  padding-bottom: 0;
  font-weight: bold;
}
.text-size-0 {
  font-size: 42px;
  line-height: 48px;
}
@media only screen and (max-width: 767px) {
  .text-size-0 {
    font-size: 28px;
    line-height: 36px;
  }
}
h1,
.text-size-1 {
  font-size: 42px;
  line-height: 48px;
}
@media only screen and (max-width: 767px) {
  h1,
  .text-size-1 {
    font-size: 28px;
    line-height: 36px;
  }
}
h2,
.text-size-2 {
  font-size: 28px;
  line-height: 32px;
}
@media only screen and (max-width: 767px) {
  h2,
  .text-size-2 {
    font-size: 24px;
    line-height: 28px;
  }
}
h3,
.text-size-3 {
  font-size: 24px;
  line-height: 32px;
}
@media only screen and (max-width: 767px) {
  h3,
  .text-size-3 {
    font-size: 20px;
    line-height: 28px;
  }
}
h4,
.text-size-4 {
  font-size: 20px;
  line-height: 24px;
}
@media only screen and (max-width: 767px) {
  h4,
  .text-size-4 {
    font-size: 16px;
    line-height: 24px;
  }
}
h5,
.text-size-5 {
  font-size: 16px;
  line-height: 24px;
}
@media only screen and (max-width: 767px) {
  h5,
  .text-size-5 {
    font-size: 14px;
    line-height: 24px;
  }
}
h6,
.text-size-6 {
  font-size: 14px;
  line-height: 20px;
}
@media only screen and (max-width: 767px) {
  h6,
  .text-size-6 {
    font-size: 12px;
    line-height: 16px;
  }
}
.text-size-7 {
  font-size: 12px;
  line-height: 16px;
}
/* utility text styles */
.strong {
  font-weight: 600;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.error,
.alert {
  font-weight: bold;
}
.error {
  color: #e00808;
}
.alert {
  color: #ff8200;
}
.all-caps {
  text-transform: uppercase;
}
.knockout,
.knockout:hover,
.knockout:active {
  color: #fff !important;
}
.discount-price,
.discount {
  color: #eb0a87;
  font-weight: bold;
}
.strikeout-price {
  text-decoration: line-through;
}
.comparative-pricing .list-price {
  text-decoration: line-through;
}
/*
 * Text colors
*/
.text-color-charcoal {
  color: #00111a;
}
.text-color-dolphin {
  color: #727272;
}
.text-color-green {
  color: #05a34a;
}
.text-color-white {
  color: #fff;
}
.text-color-holiday {
  color: #a10524;
}
.text-color-bright-blue {
  color: #2ba8e0;
}
.text-color-buttercup {
  color: #ffc200;
}
.text-color-deep-blue {
  color: #006196;
}
.text-color-grass {
  color: #66db2b;
}
.text-color-candy-apple {
  color: #e00808;
}
.text-color-scarlet {
  color: #a10524;
}
.text-color-orange {
  color: #ff8200;
}
.text-color-fire-orange {
  color: #ff4f00;
}
.text-color-ruby {
  color: #eb0a87;
}
.text-color-ultraviolet {
  color: #ad00b0;
}
.text-color-grape {
  color: #6e0a96;
}
/*
 * links
 */
a {
  color: #0099e0;
  font-weight: 600;
  text-decoration: none;
}
a:hover {
  color: #0099e0;
  text-decoration: underline;
}
a.knockout,
a.knockout:hover {
  text-decoration: underline;
}
/*
 * images
 */
.responsive-image-wrapper {
  height: 0;
  position: relative;
  overflow: hidden;
}
.responsive-image-wrapper .responsive-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.fluid-image {
  width: 100%;
  max-width: 100%;
  height: auto;
}
/*
 * utility classes
 */
.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  opacity: 0.01;
  overflow: hidden;
}
.meta-info {
  outline: 2px dashed #858f97;
  opacity: .8;
}
/*
 * backgrounds
 */
.background-mist {
  background: #f8f8f8 !important;
}
.background-black {
  background: #000 !important;
}
.background-white {
  background: #fff !important;
}
.background-translucent-blue {
  background: rgba(0, 153, 224, 0.07) !important;
}
.background-loading-shimmer.background-loading-shimmer.background-loading-shimmer {
  background: #f8f8f8;
  background-image: linear-gradient(to right, #f8f8f8 0%, #eeeeee 40%, #f8f8f8 80%, #f8f8f8 100%);
  background-repeat: no-repeat;
  background-size: 50%;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: loadingShimmer;
  animation-timing-function: linear;
}
@keyframes loadingShimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
/*
 * dividers
 */
hr.hr-skin-strong,
hr.hr-skin-simple {
  margin: 0;
  padding: 0;
  color: #e6e6e6;
  height: 1px;
  background-color: #e6e6e6;
  border: none;
}
.pipe {
  color: #c8cbcc;
  display: inline-block;
  padding: 0 3px;
}
/*
* stylized input text fields and textareas
  Controls on responsive pages get this styling by default for some input types; controls in older frameworks always need a ".stylized-__" class
*/
.stylized-input,
.stylized-textarea {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 40px;
  padding: 0 6.4px;
  margin: 0;
  font-size: 16px;
  color: #00111a;
  vertical-align: middle;
  background-clip: padding-box;
  outline: 0 none;
  border: 1px solid #c8cbcc;
  border-radius: 3px;
}
.stylized-input:-ms-input-placeholder,
.stylized-textarea:-ms-input-placeholder {
  font-style: italic;
  color: #727272;
}
.stylized-input::-webkit-input-placeholder,
.stylized-textarea::-webkit-input-placeholder {
  font-style: italic;
  color: #727272;
}
.stylized-input::-moz-placeholder,
.stylized-textarea::-moz-placeholder {
  font-style: italic;
  color: #727272;
  opacity: 1;
}
.stylized-input::placeholder,
.stylized-textarea::placeholder {
  font-style: italic;
  color: #727272;
  opacity: 1;
}
.stylized-input:focus,
.stylized-textarea:focus {
  box-shadow: none;
  border-top: 1px solid #c8cbcc;
  border-color: #0099e0;
  box-shadow: inset 0 0 0 1px #0099e0;
  transition: all 0.2s ease;
}
.stylized-input:disabled,
.stylized-textarea:disabled {
  opacity: 0.4;
  cursor: auto;
  color: #00111a;
  background: #c8cbcc;
  border-color: #c8cbcc;
  -webkit-text-fill-color: #858f97;
}
.stylized-input:disabled:hover,
.stylized-textarea:disabled:hover {
  color: #00111a;
}
@media media-query-extra-small-screen-size {
  .stylized-input,
  .stylized-textarea {
    box-sizing: border-box;
    display: block;
  }
}
.stylized-input.stylized-input-super,
.stylized-textarea.stylized-input-super {
  min-height: 50px;
}
.stylized-input-with-placeholder:-ms-input-placeholder {
  font-style: italic;
  color: #727272;
}
.stylized-input-with-placeholder::-webkit-input-placeholder {
  font-style: italic;
  color: #727272;
}
.stylized-input-with-placeholder::-moz-placeholder {
  font-style: italic;
  color: #727272;
  opacity: 1;
}
.stylized-input-with-placeholder::placeholder {
  font-style: italic;
  color: #727272;
  opacity: 1;
}
.stylized-textarea {
  box-sizing: border-box;
  width: auto;
  max-width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
}
.stylized-textarea.stylized-textarea-full-width {
  width: 100%;
}
.stylized-textarea.stylized-textarea-resize-vertical {
  resize: vertical;
}
.stylized-input.stylized-input-skin-error,
input.input-skin-error,
.stylized-textarea.stylized-textarea-skin-error,
.stylized-select.stylized-select-skin-error,
.stylized-input.stylized-input-skin-error:focus,
input.input-skin-error:focus,
.stylized-textarea.stylized-textarea-skin-error:focus,
.stylized-select.stylized-select-skin-error:focus {
  border-color: #e00808;
  box-shadow: inset 0 0 0 1px #e00808;
}
.input-with-floating-label {
  position: relative;
  display: block;
}
.input-with-floating-label .stylized-input {
  position: relative;
  z-index: 2;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 3px;
}
.input-with-floating-label .stylized-input:-ms-input-placeholder {
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.input-with-floating-label .stylized-input::-ms-input-placeholder {
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.input-with-floating-label .stylized-input::-webkit-input-placeholder {
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.input-with-floating-label .stylized-input::placeholder {
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.input-with-floating-label .stylized-input:placeholder-shown + label {
  display: block;
  top: 0;
  left: 7.4px;
  width: calc(100% - 15px);
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 40px;
  color: #727272;
  transition: all .2s;
  overflow: hidden;
}
.ie11 .input-with-floating-label .stylized-input + label,
.edge .input-with-floating-label .stylized-input + label {
  display: block;
  top: 0;
  left: 7.4px;
  width: calc(100% - 15px);
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 40px;
  color: #727272;
  transition: all .2s;
  overflow: hidden;
}
.input-with-floating-label label,
.input-with-floating-label .stylized-input:focus + label,
.input-with-floating-label .stylized-input.polyfill-nonempty + label {
  position: absolute;
  top: 6px;
  left: 7.4px;
  z-index: 3;
  font-size: 12px;
  line-height: 12px;
  color: #727272;
  transition: all .2s;
  pointer-events: none;
}
.input-with-floating-label .stylized-input:placeholder-shown:focus + label {
  top: 6px;
}
/* inputs with buttons that are attached or inset */
.input-with-button {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  border-width: 0;
}
.input-with-button input {
  flex: 1;
  position: relative;
  z-index: 1;
  vertical-align: middle;
  padding-right: 48.4px;
}
.input-with-button input:focus + .textbutton {
  border-left-color: #0099e0;
  border-left-width: 2px;
  transition: all 0.2s ease;
}
.input-with-button .textbutton {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  right: 0;
  min-height: 0;
  /* override any min-height default settings on the button that can make it taller than the input */
  width: auto;
  margin: 0;
  /* fixes Safari bug that had the button showing up 1px inset from the input's edges */
  border-radius: 0 3px 3px 0;
  outline: 0 none;
}
.input-with-button .textbutton-icon {
  /* the icons are taller than the input text, so adjust margins to make the icon's box the same height as the text */
  margin-top: -10px;
  margin-bottom: -10px;
}
.input-with-button.input-with-button-super input {
  min-height: 50px;
}
.input-with-button.input-with-button-super .textbutton-super {
  padding: 0 11px;
}
.input-with-button.input-with-button-super .textbutton-icon {
  height: 36px;
}
.input-with-button.input-with-button-inset input {
  padding-right: 22px;
}
.input-with-button.input-with-button-inset input:focus + .textbutton {
  border-left-color: transparent;
}
.input-with-button.input-with-button-inset input::-ms-clear {
  display: none;
}
.input-with-button.input-with-button-inset .textbutton {
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 6px;
  min-height: 1px;
  width: auto;
  height: 18px;
  margin-top: -9px;
  padding: 0;
  line-height: auto;
  background: transparent;
  border-radius: 50%;
  box-shadow: none;
}
.input-with-button.input-with-button-inset .textbutton,
.input-with-button.input-with-button-inset .textbutton:hover,
.input-with-button.input-with-button-inset .textbutton:active,
.input-with-button.input-with-button-inset .textbutton:focus {
  border: none;
}
.input-with-button.input-with-button-inset .textbutton .textbutton-icon {
  background-image: url('https://ui-library.cdn.vpsvc.com/css/images/icons-black-4x.png?dyn=1&width=600');
  background-size: 600px 30px;
  border-radius: 50%;
  border: none;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .input-with-button.input-with-button-inset .textbutton .textbutton-icon {
    background-image: url('https://ui-library.cdn.vpsvc.com/css/images/icons-black-4x.png?dyn=1&hires=1&width=600');
  }
}
.input-with-button.input-with-button-inset .textbutton .textbutton-icon:hover,
.input-with-button.input-with-button-inset .textbutton .textbutton-icon:active,
.input-with-button.input-with-button-inset .textbutton .textbutton-icon:focus {
  filter: brightness(150%) saturate(20);
  border: none;
}
.input-with-button.input-with-button-inset:hover .textbutton,
.input-with-button.input-with-button-inset:active .textbutton,
.input-with-button.input-with-button-inset:focus .textbutton {
  border: none;
}
.input-with-button.input-with-button-inset.input-with-button-super .textbutton {
  height: 36px;
  margin-top: -18px;
}
.input-with-button.input-with-button-inset.input-with-button-super .textbutton-icon:hover,
.input-with-button.input-with-button-inset.input-with-button-super .textbutton-icon:active {
  filter: brightness(150%) saturate(20);
}
.input-with-button.input-with-button-inset.input-with-button-skin-searchbar .stylized-input {
  padding-left: 10.4px;
  padding-right: 30px;
  border-radius: 2em;
}
.input-with-button.input-with-button-inset.input-with-button-skin-searchbar .textbutton {
  right: 10px;
}
.input-with-button.input-with-button-beside {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  max-height: 40px;
}
.input-with-button.input-with-button-beside input {
  padding-right: 0;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
.input-with-button.input-with-button-beside input:focus + .textbutton {
  border-left-width: 1px;
  box-shadow: -1px 0 0 #0099e0;
}
.input-with-button.input-with-button-beside input,
.input-with-button.input-with-button-beside .input-with-floating-label {
  flex: 9999;
}
.input-with-button.input-with-button-beside .textbutton {
  flex-basis: content;
  position: relative;
  text-overflow: clip;
}
.input-with-button.input-with-button-beside span.textbutton .textbutton-icon {
  margin-top: 11px;
}
.input-with-button.input-with-button-beside.input-with-button-super {
  max-height: 50px;
}
/*
* stylized checkboxes and radio buttons
*/
.stylized-checkbox,
.stylized-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 3px;
  vertical-align: middle;
  background: #fff no-repeat;
  border: 1px solid #c8cbcc;
  border-radius: 3px;
  cursor: pointer;
  transition: border .2s ease;
}
.stylized-checkbox:before,
.stylized-radio:before {
  content: " ";
  display: block;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  float: right;
  position: relative;
  top: -2px;
  background-position: -216px 50%;
}
.stylized-checkbox:hover,
.stylized-radio:hover {
  border: 2px solid #0099e0;
  transition: border-color 0.2s ease;
}
.stylized-checkbox:checked,
.stylized-radio:checked {
  border: 2px solid #0099e0;
  transition: border-color 0.2s ease;
}
.stylized-checkbox:checked:before,
.stylized-radio:checked:before {
  float: none;
  top: -1px;
}
.stylized-checkbox:disabled,
.stylized-radio:disabled {
  opacity: 0.4;
  cursor: auto;
  color: #00111a;
  background: #c8cbcc;
  border-color: #c8cbcc;
}
.stylized-checkbox:disabled:hover,
.stylized-radio:disabled:hover {
  color: #00111a;
}
.stylized-checkbox:checked {
  background: #0099e0;
}
.stylized-checkbox:checked:before {
  background-image: url('https://ui-library.cdn.vpsvc.com/css/images/icons-white-4x.png?dyn=1&width=600');
  background-size: 600px 30px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .stylized-checkbox:checked:before {
    background-image: url('https://ui-library.cdn.vpsvc.com/css/images/icons-white-4x.png?dyn=1&hires=1&width=600');
  }
}
.stylized-radio {
  border-radius: 50%;
}
.stylized-radio:checked:before {
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  margin: 3px;
  background: #0099e0;
  border-radius: 50%;
  top: 0;
}
.stylized-checkbox.stylized-checkbox-skin-favorite {
  width: auto;
  height: auto;
  margin: 0;
  background: none;
  border: none;
}
.stylized-checkbox.stylized-checkbox-skin-favorite:before {
  display: none;
}
.stylized-checkbox.stylized-checkbox-skin-favorite input {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  opacity: 0.01;
  overflow: hidden;
}
.stylized-checkbox.stylized-checkbox-skin-favorite label {
  box-sizing: border-box;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 3px;
  vertical-align: middle;
  background: #fff no-repeat;
  border: 1px solid #c8cbcc;
  border-radius: 3px;
  cursor: pointer;
  transition: border .2s ease;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  transition: none;
}
.stylized-checkbox.stylized-checkbox-skin-favorite label:before {
  content: " ";
  display: block;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  float: right;
  position: relative;
  top: -2px;
  background-position: -216px 50%;
}
.stylized-checkbox.stylized-checkbox-skin-favorite label:hover {
  border: 2px solid #0099e0;
  transition: border-color 0.2s ease;
}
.stylized-checkbox.stylized-checkbox-skin-favorite label:before {
  height: 24px;
  width: 24px;
  background-image: url('https://ui-library.cdn.vpsvc.com/css/images/icons-favorite-4x.png?dyn=1&width=90');
  background-size: 90px 30px;
  background-repeat: no-repeat;
  background-position: -2px -2px;
  background-origin: border-box;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .stylized-checkbox.stylized-checkbox-skin-favorite label:before {
    background-image: url('https://ui-library.cdn.vpsvc.com/css/images/icons-favorite-4x.png?dyn=1&hires=1&width=90');
  }
}
.stylized-checkbox.stylized-checkbox-skin-favorite label:hover {
  border-color: #eb0a87;
}
.stylized-checkbox.stylized-checkbox-skin-favorite label:hover:before {
  background-position: -61px -3px;
}
.stylized-checkbox.stylized-checkbox-skin-favorite input:checked + label {
  background-color: #0099e0;
  border: 2px solid #0099e0;
  transition: border-color 0.2s ease;
}
.stylized-checkbox.stylized-checkbox-skin-favorite input:checked + label:before {
  float: none;
  top: -1px;
  background-position: -35px -4px;
}
.stylized-checkbox.stylized-checkbox-skin-favorite input:focus + label {
  outline: 1px solid #a7c7ff;
}
.firefox .stylized-checkbox.stylized-checkbox-skin-favorite input:focus + label {
  outline: 1px dotted #0099e0;
}
/*
* buttonbars
*/
.buttonbar {
  display: block;
  border: none;
  padding: 0;
  margin: 0;
  position: relative;
}
.buttonbar:before,
.buttonbar:after {
  content: " ";
  display: block;
}
.buttonbar:after {
  clear: both;
}
.buttonbar legend {
  display: none;
}
.buttonbar input[type="checkbox"],
.buttonbar input[type="radio"] {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  opacity: 0.01;
  overflow: hidden;
  margin-left: 10px;
}
.buttonbar label {
  position: relative;
  width: auto;
  min-width: 0.75em;
  padding: 0 20px;
  font-family: 'MarkPro', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 38px;
  vertical-align: middle;
  color: #00111a;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 600;
  text-decoration: none;
  background: linear-gradient(180deg, #ffffff 0%, #ffffff 100%), #fff;
  border: 1px solid #c8cbcc;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
  background-repeat: no-repeat;
  display: inline-block;
  left: 0;
  float: left;
  border-left-width: 0;
  border-radius: 0;
}
html[lang="ja-jp"] .buttonbar label,
.lang-jp .buttonbar label {
  font-family: 'MS Gothic', 'MS Mincho', sans-serif;
}
.buttonbar label:hover,
.buttonbar label:active {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.025) 0%, rgba(0, 17, 26, 0.05) 100%), #fff;
  border-color: #aeb2b3;
}
.buttonbar input:focus + label {
  outline: 1px solid #a7c7ff;
}
.firefox .buttonbar input:focus + label {
  outline: 1px dotted #0099e0;
}
.buttonbar .textbutton {
  display: inline-block;
  float: left;
}
.buttonbar .textbutton,
.buttonbar .textbutton.textbutton-skin-primary,
.buttonbar .textbutton.textbutton-skin-secondary {
  border-left-width: 0;
  border-radius: 0;
  box-shadow: none;
}
@media only screen and (max-width: 767px) {
  .buttonbar .textbutton {
    display: inline-block;
    width: auto;
    min-height: 30px;
  }
}
.buttonbar input:first-child + label,
.buttonbar label:first-child,
.buttonbar .textbutton:first-child,
.buttonbar .textbutton.textbutton-skin-primary:first-child,
.buttonbar .textbutton.textbutton-skin-secondary:first-child {
  border-left-width: 1px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 0;
}
.buttonbar label:last-child,
.buttonbar .textbutton:last-child,
.buttonbar .textbutton.textbutton-skin-primary:last-child,
.buttonbar .textbutton.textbutton-skin-secondary:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
}
.buttonbar input[type="checkbox"] + label:active,
.buttonbar input[type="radio"] + label:active {
  box-shadow: none;
}
.buttonbar input[type="checkbox"]:checked + label,
.buttonbar input[type="radio"]:checked + label {
  background: #e6e6e6;
  color: #00111a;
  box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  border-left-color: #c8cbcc;
  border-right-color: #c8cbcc;
}
.buttonbar input[type="checkbox"]:disabled + label,
.buttonbar input[type="radio"]:disabled + label {
  opacity: 0.4;
  cursor: auto;
  color: #00111a;
  background: #c8cbcc;
  border-color: #c8cbcc;
}
.buttonbar input[type="checkbox"]:disabled + label:hover,
.buttonbar input[type="radio"]:disabled + label:hover {
  color: #00111a;
}
.buttonbar input[type="checkbox"]:disabled + label:active,
.buttonbar input[type="radio"]:disabled + label:active {
  box-shadow: none;
  border-color: #c8cbcc;
}
/*
* flipswitch
*/
/* distance between the handle and the outer edge of the control */
/* correct for vertical centering optical illusion */
.flipswitch {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  height: 22px;
}
.flipswitch input {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
  padding: 0;
  border: 0;
  opacity: 0.01;
  overflow: hidden;
  height: 1px;
  width: 1px;
  opacity: .1;
}
.flipswitch-on-label,
.flipswitch-off-label {
  box-sizing: border-box;
  position: relative;
  display: block;
  height: 22px;
  width: 100%;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 22px;
  border-radius: 11px;
  transition: all 0.2s;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.flipswitch-off-label {
  z-index: 1;
  padding: 1px 11px 0 26px;
  top: -22px;
  background: #38454f;
  text-align: left;
}
.flipswitch-on-label {
  z-index: 2;
  padding: 1px 26px 0 11px;
  background: transparent;
  color: transparent;
  text-align: right;
}
.flipswitch input:checked + .flipswitch-on-label {
  background: #0099e0;
  color: #fff;
  transition: all 0.2s;
}
.flipswitch input:focus + .flipswitch-on-label {
  outline: 1px solid #a7c7ff;
}
.firefox .flipswitch input:focus + .flipswitch-on-label {
  outline: 1px dotted #0099e0;
}
.flipswitch-on-label:before {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 4px;
  left: 0%;
  height: 14px;
  width: 14px;
  margin-left: 4px;
  background: #fff;
  border-radius: 7px;
  transition: all 0.2s;
}
.flipswitch input:checked + .flipswitch-on-label:before {
  left: 100%;
  margin-left: -18px;
  transition: all 0.2s;
}
/*
* stylized select 
*/
/* equal to the distance between the select's right-hand border and the VISIBLE edge of the icon */
.stylized-select-container {
  position: relative;
  display: inline-block;
  max-width: 100%;
}
@media only screen and (max-width: 767px) {
  .stylized-select-container {
    display: block;
  }
}
.stylized-select-container:before {
  content: " ";
  display: block;
  height: 18px;
  background-repeat: no-repeat;
  float: right;
  position: relative;
  top: -2px;
  position: absolute;
  top: 50%;
  /* for vertical centering */
  right: 10px;
  z-index: 3;
  width: 18px;
  background-image: url('https://ui-library.cdn.vpsvc.com/css/images/icons-black-4x.png?dyn=1&width=600');
  background-size: 600px 30px;
  background-position: -96px 50%;
  transform: translate(0, -50%);
  /* for vertical centering */
  pointer-events: none;
  /* allows clicks to pass through to the <select> */
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .stylized-select-container:before {
    background-image: url('https://ui-library.cdn.vpsvc.com/css/images/icons-black-4x.png?dyn=1&hires=1&width=600');
  }
}
.stylized-select-container .stylized-select-label {
  display: none;
}
.stylized-select {
  /* hide as much of the native styling as possible */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* hides the native icon in most browsers */
  position: relative;
  width: auto;
  min-width: 0.75em;
  padding: 0 20px;
  font-family: 'MarkPro', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 38px;
  color: #00111a;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 600;
  text-decoration: none;
  background: linear-gradient(180deg, #ffffff 0%, #ffffff 100%), #fff;
  border: 1px solid #c8cbcc;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
  background-repeat: no-repeat;
  z-index: 1;
  height: 40px;
  min-width: 74px;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 13px;
  padding-right: 38px;
  line-height: 1.2em !important;
  vertical-align: middle;
  text-align: left;
}
.ie11 .stylized-select::-ms-expand {
  opacity: 0;
}
html[lang="ja-jp"] .stylized-select,
.lang-jp .stylized-select {
  font-family: 'MS Gothic', 'MS Mincho', sans-serif;
}
.stylized-select:hover,
.stylized-select:active {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.025) 0%, rgba(0, 17, 26, 0.05) 100%), #fff;
  border-color: #aeb2b3;
}
.stylized-select:focus {
  border-color: #919699;
  outline: 0 none;
}
@media only screen and (max-width: 767px) {
  .stylized-select {
    display: block;
    width: 100%;
    max-width: 100%;
  }
}
.stylized-select option {
  padding: 2px 38px 2px 2px;
  color: #00111a;
}
.stylized-select optgroup option {
  padding-left: 8px;
}
.stylized-select-container-full-width,
.stylized-select-full-width {
  width: 100%;
}
.stylized-select:disabled {
  z-index: 4;
  /* bring this up so it's on top of the container's pseudo-elements */
  opacity: 0.4;
  cursor: auto;
  color: #00111a;
  background: #c8cbcc;
  border-color: #c8cbcc;
  cursor: default;
}
.stylized-select:disabled:hover {
  color: #00111a;
}
.stylized-select:disabled.stylized-select:hover,
.stylized-select:disabled.stylized-select:active {
  opacity: 0.4;
  cursor: auto;
  color: #00111a;
  background: #c8cbcc;
  border-color: #c8cbcc;
}
.stylized-select:disabled.stylized-select:hover:hover,
.stylized-select:disabled.stylized-select:active:hover {
  color: #00111a;
}
.stylized-select:disabled.stylized-select:hover:before,
.stylized-select:disabled.stylized-select:active:before {
  background-image: url('https://ui-library.cdn.vpsvc.com/css/images/icons-black-4x.png?dyn=1&width=600');
  background-size: 600px 30px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .stylized-select:disabled.stylized-select:hover:before,
  .stylized-select:disabled.stylized-select:active:before {
    background-image: url('https://ui-library.cdn.vpsvc.com/css/images/icons-black-4x.png?dyn=1&hires=1&width=600');
  }
}
/*
* stylized lists
*/
.stylized-list,
.uncustomizable-markup ul,
.uncustomizable-markup ol {
  margin: 0;
  padding: 0 0 0 14px;
}
.stylized-list > li,
.uncustomizable-markup ul > li,
.uncustomizable-markup ol > li {
  position: relative;
  vertical-align: top;
  list-style-type: none;
}
.stylized-list > li:before,
.uncustomizable-markup ul > li:before,
.uncustomizable-markup ol > li:before {
  position: absolute;
  left: -14px;
  display: inline-block;
  content: "\002022";
  font-size: 18px;
  vertical-align: middle;
}
ol.stylized-list,
.uncustomizable-markup ol {
  padding-left: 1.9em;
}
ol.stylized-list > li,
.uncustomizable-markup ol > li {
  vertical-align: middle;
  counter-increment: stylizedList;
  min-height: 1.7em;
}
ol.stylized-list > li:before,
.uncustomizable-markup ol > li:before {
  content: counter(stylizedList);
  left: -1.9em;
  display: inline-block;
  height: 1.1em;
  min-width: 1.1em;
  padding: 0.2em;
  color: white;
  line-height: 1.1em;
  text-align: center;
  font-size: 1em;
  background-color: #0099e0;
  border-radius: 50%;
}
.stylized-list.stylized-list-minimal {
  list-style: none outside none;
  padding-left: 0;
}
.stylized-list.stylized-list-minimal li:before {
  display: none;
}
.stylized-list.stylized-list-skin-checkmark {
  padding-left: 25px;
}
.stylized-list.stylized-list-skin-checkmark > li {
  position: relative;
  padding-bottom: 8px;
}
.stylized-list.stylized-list-skin-checkmark > li:before {
  position: absolute;
  left: -22px;
  content: "\002713";
  color: #727272;
  font-size: 18px;
  font-weight: bold;
}
ul.link-list {
  list-style: none outside none;
  padding-left: 0;
}
ul.link-list li {
  margin-bottom: .7em;
  line-height: 1.5em;
}
ul.link-list .link-list {
  margin: .6em 0 1.3em 1em;
}
ul.link-list.link-list-bold li,
ul.link-list.link-list-bold a {
  font-weight: bold;
}
ul.link-list.link-list-skin-shaded {
  padding: 1.3em 1em .1em 1em;
  background: #f8f8f8;
}
.link-list-heading.link-list-heading,
.link-list-heading.link-list-heading a {
  font-weight: bold;
}
ul.link-list a,
.link-list-heading.link-list-heading a {
  color: #00111a;
  text-decoration: none;
}
ul.link-list a:hover,
.link-list-heading.link-list-heading a:hover {
  color: #0099e0;
  text-decoration: underline;
}
ul.link-list a {
  font-weight: normal;
}
ul.link-list + ul.link-list,
ul.link-list + .link-list-heading {
  margin-top: 2.66em;
}
.icon-bullet-list {
  margin: 0;
  padding: 0;
}
.icon-bullet-list > li {
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding: 0 0 20px 0;
  vertical-align: top;
  list-style-type: none;
}
.icon-bullet-list .icon-bullet-list-icon {
  flex-grow: 1;
  margin-right: 10px;
}
.icon-bullet-list .icon-bullet-list-contents {
  flex-grow: 9999;
  align-self: center;
}
/*
* stylized counts
*/
.stylized-count {
  box-sizing: border-box;
  display: inline-block;
  padding: 0 4px;
  min-width: 25px;
  height: 25px;
  line-height: 27px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #0099e0;
  border-radius: 12.5px;
  box-shadow: none;
}
.stylized-count.stylized-count-skin-alert {
  background: #e00808;
}
.stylized-count.stylized-count-skin-cart {
  background: #05a34a;
}
.stylized-count.stylized-count-skin-empty {
  background: #e6e6e6;
  color: #00111a;
}
.stylized-count.stylized-count-shadow {
  box-shadow: 0 0 0 2px #fff;
}
/*
  alerts, warnings, errors       
*/
.alert-box,
.page-alert {
  position: relative;
  display: block;
  margin: 0;
  font-size: 16px;
  line-height: 1.5em;
  color: #00111a;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.alert-box {
  border-radius: 5px;
}
.alert-box,
.page-alert-inner {
  padding: 8px 8px 8px 48px;
}
.alert-box p,
.page-alert-inner p {
  margin-top: 0;
}
.alert-box::before,
.page-alert-inner::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 4px;
  left: 8px;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
}
.page-alert-inner {
  position: relative;
  margin: 0 auto;
  max-width: 960px;
}
@media only screen and (min-width: 1304px) {
  .page-alert-inner {
    max-width: 1284px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .page-alert-inner {
    max-width: 744px;
  }
}
@media only screen and (max-width: 767px) {
  .page-alert-inner {
    margin: 0 8px;
  }
}
.alert-box-warning,
.page-alert-warning {
  background-color: #fff3e8;
}
.alert-box-warning::before,
.page-alert-warning .page-alert-inner::before {
  background-image: url('https://ui-library.cdn.vpsvc.com/css/images/alert.svg?dyn=1&width=32');
  background-size: 32px 32px;
  filter: hue-rotate(50deg) brightness(300%) saturate(200%);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .alert-box-warning::before,
  .page-alert-warning .page-alert-inner::before {
    background-image: url('https://ui-library.cdn.vpsvc.com/css/images/alert.svg?dyn=1&hires=1&width=32');
  }
}
.alert-box-error,
.page-alert-error {
  background-color: #fbecec;
}
.alert-box-error::before,
.page-alert-error .page-alert-inner::before {
  background-image: url('https://ui-library.cdn.vpsvc.com/css/images/alert.svg?dyn=1&width=32');
  background-size: 32px 32px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .alert-box-error::before,
  .page-alert-error .page-alert-inner::before {
    background-image: url('https://ui-library.cdn.vpsvc.com/css/images/alert.svg?dyn=1&hires=1&width=32');
  }
}
.alert-box-positive,
.page-alert-positive {
  background-color: #e7faee;
}
.alert-box-positive::before,
.page-alert-positive .page-alert-inner::before {
  background-image: url('https://ui-library.cdn.vpsvc.com/css/images/alert-positive.svg?dyn=1&width=32');
  background-size: 32px 32px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .alert-box-positive::before,
  .page-alert-positive .page-alert-inner::before {
    background-image: url('https://ui-library.cdn.vpsvc.com/css/images/alert-positive.svg?dyn=1&hires=1&width=32');
  }
}
.form-input-error {
  margin: 0;
  padding: 0;
  color: #e00808;
  font-size: 14px;
  font-weight: 600;
}
.alert-box-legal-warning {
  padding-left: 45px;
  font-size: 16px;
  color: #00111a;
  background-color: #fff;
  border: 1px solid currentColor;
}
.alert-box-legal-warning::before {
  width: 25px;
  height: 20px;
  background-image: url('https://ui-library.cdn.vpsvc.com/css/images/legal-warning-2x.png?dyn=1&width=25');
  background-size: 25px 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .alert-box-legal-warning::before {
    background-image: url('https://ui-library.cdn.vpsvc.com/css/images/legal-warning-2x.png?dyn=1&hires=1&width=25');
  }
}
/*
    Preloader
*/
.preloader-graphic,
.preloader-graphic-inner {
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
}
.preloader-graphic:before,
.preloader-graphic-inner:before,
.preloader-graphic-inner:after {
  display: inline-block;
  content: " ";
  margin: 0 1px;
  border-color: #0099e0 transparent transparent transparent;
  border-style: solid;
  border-width: 12.6px 7.5px 0 7.5px;
  animation-name: preloaderGraphic;
  animation-duration: .9s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.preloader-graphic-inner:before {
  animation-delay: 0.08s;
}
.preloader-graphic-inner:after {
  animation-delay: 0.16s;
}
@keyframes preloaderGraphic {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1);
  }
  70% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}
.preloader-graphic.preloader-graphic-large {
  width: 100px;
  height: 100px;
}
.preloader-graphic.preloader-graphic-large:before,
.preloader-graphic-large .preloader-graphic-inner:before,
.preloader-graphic-large .preloader-graphic-inner:after {
  margin: 0 2px;
  border-color: #0099e0 transparent transparent transparent;
  border-style: solid;
  border-width: 25.2px 15px 0 15px;
}
.preloader-graphic.preloader-graphic-extra-large {
  width: 200px;
  height: 200px;
}
.preloader-graphic.preloader-graphic-extra-large:before,
.preloader-graphic-extra-large .preloader-graphic-inner:before,
.preloader-graphic-extra-large .preloader-graphic-inner:after {
  margin: 0 4px;
  border-color: #0099e0 transparent transparent transparent;
  border-style: solid;
  border-width: 50.4px 30px 0 30px;
}
.preloader-graphic.preloader-graphic-inline,
.preloader-graphic-inline .preloader-graphic-inner {
  display: inline-block;
  position: relative;
  width: auto;
  height: auto;
  min-height: 1em;
}
.preloader-graphic.preloader-graphic-inline {
  width: 36px;
}
.preloader-graphic-inline .preloader-graphic-inner {
  position: absolute;
}
.preloader-graphic.preloader-graphic-inline:before,
.preloader-graphic-inline .preloader-graphic-inner:before,
.preloader-graphic-inline .preloader-graphic-inner:after {
  margin: 0 0.8px;
  border-color: #0099e0 transparent transparent transparent;
  border-style: solid;
  border-width: 10.08px 6px 0 6px;
  margin: 0;
  vertical-align: middle;
}
.preloader-graphic.preloader-graphic-center {
  margin: 0 auto;
}
/*
 * Promo code
 */
.promo-code {
  text-transform: uppercase;
  font-weight: bold !important;
}
.promo-code.promo-code-skin-white {
  color: #fff;
}
/*
* Callouts and Badges
*
* (currently Callouts and Badges have a similar appearance, but since this might not always be the case, we maintain two components)
*/
.callout,
.callout-bar,
.badge {
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 1px 12px 0 12px;
  font-size: 11px;
  font-weight: bold;
  line-height: 23px;
  color: #00111a;
  text-transform: uppercase;
  text-overflow: ellipsis;
  letter-spacing: .5px;
  white-space: nowrap;
  background: #fff;
  border-radius: 2em;
}
@media only screen and (max-width: 767px) {
  .callout,
  .callout-bar,
  .badge {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.callout.callout-mixed-case,
.callout.callout-bar-mixed-case,
.callout.badge-mixed-case,
.callout-bar.callout-mixed-case,
.callout-bar.callout-bar-mixed-case,
.callout-bar.badge-mixed-case,
.badge.callout-mixed-case,
.badge.callout-bar-mixed-case,
.badge.badge-mixed-case {
  text-transform: none;
}
.callout.callout-skin-holiday,
.callout.callout-bar-skin-holiday,
.callout.badge-skin-holiday,
.callout-bar.callout-skin-holiday,
.callout-bar.callout-bar-skin-holiday,
.callout-bar.badge-skin-holiday,
.badge.callout-skin-holiday,
.badge.callout-bar-skin-holiday,
.badge.badge-skin-holiday {
  color: #fff;
  background-color: #a10524;
}
.callout.callout-skin-highlight,
.callout.callout-bar-skin-highlight,
.callout.badge-skin-highlight,
.callout-bar.callout-skin-highlight,
.callout-bar.callout-bar-skin-highlight,
.callout-bar.badge-skin-highlight,
.badge.callout-skin-highlight,
.badge.callout-bar-skin-highlight,
.badge.badge-skin-highlight {
  color: #fff;
  background: #05a34a;
}
.callout.callout-skin-warning,
.callout.callout-bar-skin-warning,
.callout.badge-skin-warning,
.callout-bar.callout-skin-warning,
.callout-bar.callout-bar-skin-warning,
.callout-bar.badge-skin-warning,
.badge.callout-skin-warning,
.badge.callout-bar-skin-warning,
.badge.badge-skin-warning {
  color: #fff;
  background: #ff8200;
}
.callout.callout-skin-neutral,
.callout.callout-bar-skin-neutral,
.callout.badge-skin-neutral,
.callout-bar.callout-skin-neutral,
.callout-bar.callout-bar-skin-neutral,
.callout-bar.badge-skin-neutral,
.badge.callout-skin-neutral,
.badge.callout-bar-skin-neutral,
.badge.badge-skin-neutral {
  background: #e6e6e6;
}
.callout.callout-skin-hollow-dark,
.callout.callout-bar-skin-hollow-dark,
.callout.badge-skin-hollow-dark,
.callout-bar.callout-skin-hollow-dark,
.callout-bar.callout-bar-skin-hollow-dark,
.callout-bar.badge-skin-hollow-dark,
.badge.callout-skin-hollow-dark,
.badge.callout-bar-skin-hollow-dark,
.badge.badge-skin-hollow-dark,
.callout.callout-skin-hollow-light,
.callout.callout-bar-skin-hollow-light,
.callout.badge-skin-hollow-light,
.callout-bar.callout-skin-hollow-light,
.callout-bar.callout-bar-skin-hollow-light,
.callout-bar.badge-skin-hollow-light,
.badge.callout-skin-hollow-light,
.badge.callout-bar-skin-hollow-light,
.badge.badge-skin-hollow-light {
  line-height: 21px;
  color: #00111a;
  background: #fff;
  border: 1px solid currentColor;
}
.callout.callout-skin-hollow-light,
.callout.callout-bar-skin-hollow-light,
.callout.badge-skin-hollow-light,
.callout-bar.callout-skin-hollow-light,
.callout-bar.callout-bar-skin-hollow-light,
.callout-bar.badge-skin-hollow-light,
.badge.callout-skin-hollow-light,
.badge.callout-bar-skin-hollow-light,
.badge.badge-skin-hollow-light {
  color: #fff;
  background: transparent;
}
/*
 * Graphic button
 */
.graphic-button {
  box-sizing: border-box;
  display: inline-block;
  padding: 3px;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  vertical-align: middle;
  background: none;
  border: none;
}
button.graphic-button,
a.graphic-button {
  cursor: pointer;
}
.graphic-button[class*="graphic-button-"]:before {
  content: " ";
  display: block;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  float: right;
  top: -2px;
  position: relative;
  top: 0;
  left: -1px;
}
.graphic-button[class*="graphic-button-"].graphic-button-skin-black:before {
  background-image: url('https://ui-library.cdn.vpsvc.com/css/images/icons-black-4x.png?dyn=1&width=600');
  background-size: 600px 30px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .graphic-button[class*="graphic-button-"].graphic-button-skin-black:before {
    background-image: url('https://ui-library.cdn.vpsvc.com/css/images/icons-black-4x.png?dyn=1&hires=1&width=600');
  }
}
.graphic-button[class*="graphic-button-"].graphic-button-skin-white:before {
  background-image: url('https://ui-library.cdn.vpsvc.com/css/images/icons-white-4x.png?dyn=1&width=600');
  background-size: 600px 30px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .graphic-button[class*="graphic-button-"].graphic-button-skin-white:before {
    background-image: url('https://ui-library.cdn.vpsvc.com/css/images/icons-white-4x.png?dyn=1&hires=1&width=600');
  }
}
.graphic-button[class*="graphic-button-"].graphic-button-skin-accent:before {
  opacity: 1;
  background-image: url('https://ui-library.cdn.vpsvc.com/css/images/icons-accent-4x.png?dyn=1&width=600');
  background-size: 600px 30px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .graphic-button[class*="graphic-button-"].graphic-button-skin-accent:before {
    background-image: url('https://ui-library.cdn.vpsvc.com/css/images/icons-accent-4x.png?dyn=1&hires=1&width=600');
  }
}
.graphic-button[class*="graphic-button-"].graphic-button-super {
  padding: 6px;
}
.graphic-button[class*="graphic-button-"].graphic-button-super:before {
  width: 36px;
  height: 36px;
}
.graphic-button-arrow-r:before {
  background-position: -6px 50%;
}
.graphic-button-arrow-l:before {
  background-position: -36px 50%;
}
.graphic-button-arrow-u:before {
  background-position: -66px 50%;
}
.graphic-button-arrow-d:before {
  background-position: -96px 50%;
}
.graphic-button-delete:before {
  background-position: -186px 50%;
}
.graphic-button-plus:before {
  background-position: -126px 50%;
}
.graphic-button-minus:before {
  background-position: -156px 50%;
}
.graphic-button-check:before {
  background-position: -216px 50%;
}
.graphic-button-search:before {
  background-position: -246px 50%;
}
.graphic-button-alert:before {
  background-position: -336px 50%;
}
.graphic-button-question:before {
  background-position: -396px 50%;
}
.graphic-button-info:before {
  background-position: -366px 50%;
}
.graphic-button-next:before {
  background-position: -306px 50%;
}
.graphic-button-prev:before {
  background-position: -276px 50%;
}
/*
 * stylized buttons -- UI Library styling for the <button> tag
 */
.stylized-button-skin-link,
.stylized-button-skin-unstyled {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  text-align: inherit;
  color: inherit;
  background: none;
  border: none;
  cursor: pointer;
}
.stylized-button-skin-link:hover,
.stylized-button-skin-unstyled:hover {
  color: #0099e0;
  text-decoration: underline;
}
.stylized-button-skin-link {
  font-weight: 600;
  color: #0099e0;
}
.stylized-button-skin-clear-selection {
  box-sizing: border-box;
  position: relative;
  height: 32px;
  line-height: 32px;
  padding: 0 15px;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  white-space: nowrap;
  color: #00111a;
  border: 1px solid #c8cbcc;
  border-radius: 20px;
  background: #fff;
  cursor: pointer;
  outline: 0;
}
.stylized-button-skin-clear-selection:after {
  content: " ";
  display: block;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  float: right;
  position: relative;
  top: -2px;
  background-image: url('https://ui-library.cdn.vpsvc.com/css/images/icons-black-4x.png?dyn=1&width=600');
  background-size: 600px 30px;
  background-position: -186px 50%;
  top: 6px;
  margin: 0 -5px 0 10px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .stylized-button-skin-clear-selection:after {
    background-image: url('https://ui-library.cdn.vpsvc.com/css/images/icons-black-4x.png?dyn=1&hires=1&width=600');
  }
}
.stylized-button-skin-clear-selection:hover {
  color: #0099e0;
}
.stylized-button-skin-clear-selection:hover:before {
  opacity: 1;
  background-image: url('https://ui-library.cdn.vpsvc.com/css/images/icons-accent-4x.png?dyn=1&width=600');
  background-size: 600px 30px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .stylized-button-skin-clear-selection:hover:before {
    background-image: url('https://ui-library.cdn.vpsvc.com/css/images/icons-accent-4x.png?dyn=1&hires=1&width=600');
  }
}
/* 
 * cards
 */
.card-set .row.row,
.card-set.row.row {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.card-set.card-set *[class*="col-"] {
  box-sizing: border-box;
  padding: 16px;
  background: #fff;
  border: 1px solid #c8cbcc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
.card-set.card-set *[class*="col-"] *[class*="col-"] {
  padding: 0;
  margin-bottom: 0;
  border: none;
}
.card-set.card-set a[class*="col-"] {
  color: #00111a;
  font-weight: normal;
  text-decoration: none;
}
.card-set.card-set a[class*="col-"]:hover {
  color: #0099e0;
  font-weight: bold;
  text-decoration: underline;
}
.card-set .card-set-radio,
.card-set .card-set-checkbox {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  opacity: 0.01;
  overflow: hidden;
}
.card-set.card-set label[class*="col-"] {
  cursor: pointer;
  transition: all .1s ease;
}
.card-set .card-set-radio:checked + label[class*="col-"],
.card-set .card-set-checkbox:checked + label[class*="col-"] {
  border-color: #0099e0;
  box-shadow: inset 0 0 0 1px #0099e0;
}
.card-set.card-set-full-bleed *[class*="col-"] {
  padding: 0;
}
.card-dividers.card-dividers.card-dividers .row {
  margin: 0;
}
.card-dividers.card-dividers.card-dividers [class*="col-"] {
  border-right: 1px solid #c8cbcc;
  border-radius: 0;
}
.card-dividers.card-dividers.card-dividers [class*="col-"]:last-child {
  border-right: none;
}
@media only screen and (max-width: 767px) {
  .card-dividers.card-dividers.card-dividers [class*="col-"]:not([class*="col-xs-"]) {
    border-right: none;
    border-bottom: 1px solid #c8cbcc;
  }
  .card-dividers.card-dividers.card-dividers [class*="col-"]:not([class*="col-xs-"]):last-child {
    border-bottom: none;
  }
}
.card-container {
  box-sizing: border-box;
  padding: 16px;
  background: #fff;
  border: 1px solid #c8cbcc;
  border-radius: 5px;
}
.card-container.card-container-full-bleed,
.card-container.shadow-container-full-bleed {
  padding: 0;
}
/*
 * breadcrumbs
 */
.breadcrumbs {
  display: block;
  font-size: 14px;
  min-height: 26px;
  padding: 16px 0;
  margin: 0;
  color: #00111a;
}
.breadcrumbs ul,
.breadcrumbs li {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.breadcrumbs li + li:before {
  content: "";
  display: inline-block;
  position: relative;
  top: .15em;
  margin: 0 .6em 0 .3em;
  height: .95em;
  width: 1px;
  border-right: 1px solid #00111a;
  transform: skew(-25deg);
}
.breadcrumbs li:last-of-type {
  font-weight: bold;
}
.breadcrumbs a {
  font-size: 1em;
  color: #00111a;
  font-weight: normal;
}
.breadcrumbs a:hover {
  color: #0099e0;
  font-weight: 600;
  text-decoration: none;
}
/*
 * standard section
 */
.standard-section {
  margin-bottom: 32px;
}
.standard-section.standard-section-super {
  margin-bottom: 40px;
}
.standard-section.standard-section-mini {
  margin-bottom: 20px;
}
/*
 * price block
 */
.price-block {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}
@media only screen and (max-width: 767px) {
  .price-block {
    font-size: 16px;
    line-height: 24px;
  }
}
.price-block .comparative-pricing .list-price {
  font-size: 14px;
}
.price-block .short-tax-message {
  color: #727272;
  font-size: 14px;
}
.price-block-title {
  display: inline-block;
  font-weight: 600;
}
.price-block-disclaimer {
  display: block;
  margin-top: 8px;
  color: #727272;
  font-weight: 600;
  font-size: 14px;
}
/*
 * title block
 */
.title-block {
  margin-bottom: 16px;
}
.title-block .title-block-title,
.title-block .title-block-subtitle {
  margin-bottom: .35em;
}
/*
 * lazyload zone
 */
.lazyload-zone {
  display: contents;
}
/*
 * fieldset
 */
fieldset.stylized-fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0;
  min-width: 0;
}
.firefox fieldset.stylized-fieldset {
  display: table-cell;
}
fieldset.stylized-fieldset legend {
  padding: 0;
  display: table;
}
/*
 * hidden/visible
 */
.visible-md.visible-md {
  display: block;
}
span.visible-md.visible-md {
  display: inline-block;
}
.visible-lg.visible-lg.visible-lg,
.visible-lg.visible-lg.visible-sm,
.visible-lg.visible-lg.visible-xs,
.visible-lg.visible-lg.hidden-md,
.visible-lg.visible-sm.visible-lg,
.visible-lg.visible-sm.visible-sm,
.visible-lg.visible-sm.visible-xs,
.visible-lg.visible-sm.hidden-md,
.visible-lg.visible-xs.visible-lg,
.visible-lg.visible-xs.visible-sm,
.visible-lg.visible-xs.visible-xs,
.visible-lg.visible-xs.hidden-md,
.visible-lg.hidden-md.visible-lg,
.visible-lg.hidden-md.visible-sm,
.visible-lg.hidden-md.visible-xs,
.visible-lg.hidden-md.hidden-md,
.visible-sm.visible-lg.visible-lg,
.visible-sm.visible-lg.visible-sm,
.visible-sm.visible-lg.visible-xs,
.visible-sm.visible-lg.hidden-md,
.visible-sm.visible-sm.visible-lg,
.visible-sm.visible-sm.visible-sm,
.visible-sm.visible-sm.visible-xs,
.visible-sm.visible-sm.hidden-md,
.visible-sm.visible-xs.visible-lg,
.visible-sm.visible-xs.visible-sm,
.visible-sm.visible-xs.visible-xs,
.visible-sm.visible-xs.hidden-md,
.visible-sm.hidden-md.visible-lg,
.visible-sm.hidden-md.visible-sm,
.visible-sm.hidden-md.visible-xs,
.visible-sm.hidden-md.hidden-md,
.visible-xs.visible-lg.visible-lg,
.visible-xs.visible-lg.visible-sm,
.visible-xs.visible-lg.visible-xs,
.visible-xs.visible-lg.hidden-md,
.visible-xs.visible-sm.visible-lg,
.visible-xs.visible-sm.visible-sm,
.visible-xs.visible-sm.visible-xs,
.visible-xs.visible-sm.hidden-md,
.visible-xs.visible-xs.visible-lg,
.visible-xs.visible-xs.visible-sm,
.visible-xs.visible-xs.visible-xs,
.visible-xs.visible-xs.hidden-md,
.visible-xs.hidden-md.visible-lg,
.visible-xs.hidden-md.visible-sm,
.visible-xs.hidden-md.visible-xs,
.visible-xs.hidden-md.hidden-md,
.hidden-md.visible-lg.visible-lg,
.hidden-md.visible-lg.visible-sm,
.hidden-md.visible-lg.visible-xs,
.hidden-md.visible-lg.hidden-md,
.hidden-md.visible-sm.visible-lg,
.hidden-md.visible-sm.visible-sm,
.hidden-md.visible-sm.visible-xs,
.hidden-md.visible-sm.hidden-md,
.hidden-md.visible-xs.visible-lg,
.hidden-md.visible-xs.visible-sm,
.hidden-md.visible-xs.visible-xs,
.hidden-md.visible-xs.hidden-md,
.hidden-md.hidden-md.visible-lg,
.hidden-md.hidden-md.visible-sm,
.hidden-md.hidden-md.visible-xs,
.hidden-md.hidden-md.hidden-md,
span.visible-lg.visible-lg.visible-lg,
span.visible-lg.visible-lg.visible-sm,
span.visible-lg.visible-lg.visible-xs,
span.visible-lg.visible-lg.hidden-md,
span.visible-lg.visible-sm.visible-lg,
span.visible-lg.visible-sm.visible-sm,
span.visible-lg.visible-sm.visible-xs,
span.visible-lg.visible-sm.hidden-md,
span.visible-lg.visible-xs.visible-lg,
span.visible-lg.visible-xs.visible-sm,
span.visible-lg.visible-xs.visible-xs,
span.visible-lg.visible-xs.hidden-md,
span.visible-lg.hidden-md.visible-lg,
span.visible-lg.hidden-md.visible-sm,
span.visible-lg.hidden-md.visible-xs,
span.visible-lg.hidden-md.hidden-md,
span.visible-sm.visible-lg.visible-lg,
span.visible-sm.visible-lg.visible-sm,
span.visible-sm.visible-lg.visible-xs,
span.visible-sm.visible-lg.hidden-md,
span.visible-sm.visible-sm.visible-lg,
span.visible-sm.visible-sm.visible-sm,
span.visible-sm.visible-sm.visible-xs,
span.visible-sm.visible-sm.hidden-md,
span.visible-sm.visible-xs.visible-lg,
span.visible-sm.visible-xs.visible-sm,
span.visible-sm.visible-xs.visible-xs,
span.visible-sm.visible-xs.hidden-md,
span.visible-sm.hidden-md.visible-lg,
span.visible-sm.hidden-md.visible-sm,
span.visible-sm.hidden-md.visible-xs,
span.visible-sm.hidden-md.hidden-md,
span.visible-xs.visible-lg.visible-lg,
span.visible-xs.visible-lg.visible-sm,
span.visible-xs.visible-lg.visible-xs,
span.visible-xs.visible-lg.hidden-md,
span.visible-xs.visible-sm.visible-lg,
span.visible-xs.visible-sm.visible-sm,
span.visible-xs.visible-sm.visible-xs,
span.visible-xs.visible-sm.hidden-md,
span.visible-xs.visible-xs.visible-lg,
span.visible-xs.visible-xs.visible-sm,
span.visible-xs.visible-xs.visible-xs,
span.visible-xs.visible-xs.hidden-md,
span.visible-xs.hidden-md.visible-lg,
span.visible-xs.hidden-md.visible-sm,
span.visible-xs.hidden-md.visible-xs,
span.visible-xs.hidden-md.hidden-md,
span.hidden-md.visible-lg.visible-lg,
span.hidden-md.visible-lg.visible-sm,
span.hidden-md.visible-lg.visible-xs,
span.hidden-md.visible-lg.hidden-md,
span.hidden-md.visible-sm.visible-lg,
span.hidden-md.visible-sm.visible-sm,
span.hidden-md.visible-sm.visible-xs,
span.hidden-md.visible-sm.hidden-md,
span.hidden-md.visible-xs.visible-lg,
span.hidden-md.visible-xs.visible-sm,
span.hidden-md.visible-xs.visible-xs,
span.hidden-md.visible-xs.hidden-md,
span.hidden-md.hidden-md.visible-lg,
span.hidden-md.hidden-md.visible-sm,
span.hidden-md.hidden-md.visible-xs,
span.hidden-md.hidden-md.hidden-md {
  display: none;
}
@media only screen and (min-width: 1304px) {
  .visible-lg.visible-lg.visible-lg,
  .visible-lg.visible-lg.hidden-md,
  .visible-lg.hidden-md.visible-lg,
  .visible-lg.hidden-md.hidden-md,
  .hidden-md.visible-lg.visible-lg,
  .hidden-md.visible-lg.hidden-md,
  .hidden-md.hidden-md.visible-lg,
  .hidden-md.hidden-md.hidden-md {
    display: block;
  }
  span.visible-lg.visible-lg.visible-lg,
  span.visible-lg.visible-lg.hidden-md,
  span.visible-lg.hidden-md.visible-lg,
  span.visible-lg.hidden-md.hidden-md,
  span.hidden-md.visible-lg.visible-lg,
  span.hidden-md.visible-lg.hidden-md,
  span.hidden-md.hidden-md.visible-lg,
  span.hidden-md.hidden-md.hidden-md {
    display: inline-block;
  }
  .visible-sm.visible-sm.visible-sm,
  .visible-sm.visible-sm.visible-md,
  .visible-sm.visible-sm.visible-xs,
  .visible-sm.visible-sm.hidden-lg,
  .visible-sm.visible-md.visible-sm,
  .visible-sm.visible-md.visible-md,
  .visible-sm.visible-md.visible-xs,
  .visible-sm.visible-md.hidden-lg,
  .visible-sm.visible-xs.visible-sm,
  .visible-sm.visible-xs.visible-md,
  .visible-sm.visible-xs.visible-xs,
  .visible-sm.visible-xs.hidden-lg,
  .visible-sm.hidden-lg.visible-sm,
  .visible-sm.hidden-lg.visible-md,
  .visible-sm.hidden-lg.visible-xs,
  .visible-sm.hidden-lg.hidden-lg,
  .visible-md.visible-sm.visible-sm,
  .visible-md.visible-sm.visible-md,
  .visible-md.visible-sm.visible-xs,
  .visible-md.visible-sm.hidden-lg,
  .visible-md.visible-md.visible-sm,
  .visible-md.visible-md.visible-md,
  .visible-md.visible-md.visible-xs,
  .visible-md.visible-md.hidden-lg,
  .visible-md.visible-xs.visible-sm,
  .visible-md.visible-xs.visible-md,
  .visible-md.visible-xs.visible-xs,
  .visible-md.visible-xs.hidden-lg,
  .visible-md.hidden-lg.visible-sm,
  .visible-md.hidden-lg.visible-md,
  .visible-md.hidden-lg.visible-xs,
  .visible-md.hidden-lg.hidden-lg,
  .visible-xs.visible-sm.visible-sm,
  .visible-xs.visible-sm.visible-md,
  .visible-xs.visible-sm.visible-xs,
  .visible-xs.visible-sm.hidden-lg,
  .visible-xs.visible-md.visible-sm,
  .visible-xs.visible-md.visible-md,
  .visible-xs.visible-md.visible-xs,
  .visible-xs.visible-md.hidden-lg,
  .visible-xs.visible-xs.visible-sm,
  .visible-xs.visible-xs.visible-md,
  .visible-xs.visible-xs.visible-xs,
  .visible-xs.visible-xs.hidden-lg,
  .visible-xs.hidden-lg.visible-sm,
  .visible-xs.hidden-lg.visible-md,
  .visible-xs.hidden-lg.visible-xs,
  .visible-xs.hidden-lg.hidden-lg,
  .hidden-lg.visible-sm.visible-sm,
  .hidden-lg.visible-sm.visible-md,
  .hidden-lg.visible-sm.visible-xs,
  .hidden-lg.visible-sm.hidden-lg,
  .hidden-lg.visible-md.visible-sm,
  .hidden-lg.visible-md.visible-md,
  .hidden-lg.visible-md.visible-xs,
  .hidden-lg.visible-md.hidden-lg,
  .hidden-lg.visible-xs.visible-sm,
  .hidden-lg.visible-xs.visible-md,
  .hidden-lg.visible-xs.visible-xs,
  .hidden-lg.visible-xs.hidden-lg,
  .hidden-lg.hidden-lg.visible-sm,
  .hidden-lg.hidden-lg.visible-md,
  .hidden-lg.hidden-lg.visible-xs,
  .hidden-lg.hidden-lg.hidden-lg,
  span.visible-sm.visible-sm.visible-sm,
  span.visible-sm.visible-sm.visible-md,
  span.visible-sm.visible-sm.visible-xs,
  span.visible-sm.visible-sm.hidden-lg,
  span.visible-sm.visible-md.visible-sm,
  span.visible-sm.visible-md.visible-md,
  span.visible-sm.visible-md.visible-xs,
  span.visible-sm.visible-md.hidden-lg,
  span.visible-sm.visible-xs.visible-sm,
  span.visible-sm.visible-xs.visible-md,
  span.visible-sm.visible-xs.visible-xs,
  span.visible-sm.visible-xs.hidden-lg,
  span.visible-sm.hidden-lg.visible-sm,
  span.visible-sm.hidden-lg.visible-md,
  span.visible-sm.hidden-lg.visible-xs,
  span.visible-sm.hidden-lg.hidden-lg,
  span.visible-md.visible-sm.visible-sm,
  span.visible-md.visible-sm.visible-md,
  span.visible-md.visible-sm.visible-xs,
  span.visible-md.visible-sm.hidden-lg,
  span.visible-md.visible-md.visible-sm,
  span.visible-md.visible-md.visible-md,
  span.visible-md.visible-md.visible-xs,
  span.visible-md.visible-md.hidden-lg,
  span.visible-md.visible-xs.visible-sm,
  span.visible-md.visible-xs.visible-md,
  span.visible-md.visible-xs.visible-xs,
  span.visible-md.visible-xs.hidden-lg,
  span.visible-md.hidden-lg.visible-sm,
  span.visible-md.hidden-lg.visible-md,
  span.visible-md.hidden-lg.visible-xs,
  span.visible-md.hidden-lg.hidden-lg,
  span.visible-xs.visible-sm.visible-sm,
  span.visible-xs.visible-sm.visible-md,
  span.visible-xs.visible-sm.visible-xs,
  span.visible-xs.visible-sm.hidden-lg,
  span.visible-xs.visible-md.visible-sm,
  span.visible-xs.visible-md.visible-md,
  span.visible-xs.visible-md.visible-xs,
  span.visible-xs.visible-md.hidden-lg,
  span.visible-xs.visible-xs.visible-sm,
  span.visible-xs.visible-xs.visible-md,
  span.visible-xs.visible-xs.visible-xs,
  span.visible-xs.visible-xs.hidden-lg,
  span.visible-xs.hidden-lg.visible-sm,
  span.visible-xs.hidden-lg.visible-md,
  span.visible-xs.hidden-lg.visible-xs,
  span.visible-xs.hidden-lg.hidden-lg,
  span.hidden-lg.visible-sm.visible-sm,
  span.hidden-lg.visible-sm.visible-md,
  span.hidden-lg.visible-sm.visible-xs,
  span.hidden-lg.visible-sm.hidden-lg,
  span.hidden-lg.visible-md.visible-sm,
  span.hidden-lg.visible-md.visible-md,
  span.hidden-lg.visible-md.visible-xs,
  span.hidden-lg.visible-md.hidden-lg,
  span.hidden-lg.visible-xs.visible-sm,
  span.hidden-lg.visible-xs.visible-md,
  span.hidden-lg.visible-xs.visible-xs,
  span.hidden-lg.visible-xs.hidden-lg,
  span.hidden-lg.hidden-lg.visible-sm,
  span.hidden-lg.hidden-lg.visible-md,
  span.hidden-lg.hidden-lg.visible-xs,
  span.hidden-lg.hidden-lg.hidden-lg {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .visible-sm.visible-sm.visible-sm,
  .visible-sm.visible-sm.hidden-md,
  .visible-sm.hidden-md.visible-sm,
  .visible-sm.hidden-md.hidden-md,
  .hidden-md.visible-sm.visible-sm,
  .hidden-md.visible-sm.hidden-md,
  .hidden-md.hidden-md.visible-sm,
  .hidden-md.hidden-md.hidden-md {
    display: block;
  }
  span.visible-sm.visible-sm.visible-sm,
  span.visible-sm.visible-sm.hidden-md,
  span.visible-sm.hidden-md.visible-sm,
  span.visible-sm.hidden-md.hidden-md,
  span.hidden-md.visible-sm.visible-sm,
  span.hidden-md.visible-sm.hidden-md,
  span.hidden-md.hidden-md.visible-sm,
  span.hidden-md.hidden-md.hidden-md {
    display: inline-block;
  }
  .visible-lg.visible-lg.visible-lg,
  .visible-lg.visible-lg.visible-md,
  .visible-lg.visible-lg.visible-xs,
  .visible-lg.visible-lg.hidden-sm,
  .visible-lg.visible-md.visible-lg,
  .visible-lg.visible-md.visible-md,
  .visible-lg.visible-md.visible-xs,
  .visible-lg.visible-md.hidden-sm,
  .visible-lg.visible-xs.visible-lg,
  .visible-lg.visible-xs.visible-md,
  .visible-lg.visible-xs.visible-xs,
  .visible-lg.visible-xs.hidden-sm,
  .visible-lg.hidden-sm.visible-lg,
  .visible-lg.hidden-sm.visible-md,
  .visible-lg.hidden-sm.visible-xs,
  .visible-lg.hidden-sm.hidden-sm,
  .visible-md.visible-lg.visible-lg,
  .visible-md.visible-lg.visible-md,
  .visible-md.visible-lg.visible-xs,
  .visible-md.visible-lg.hidden-sm,
  .visible-md.visible-md.visible-lg,
  .visible-md.visible-md.visible-md,
  .visible-md.visible-md.visible-xs,
  .visible-md.visible-md.hidden-sm,
  .visible-md.visible-xs.visible-lg,
  .visible-md.visible-xs.visible-md,
  .visible-md.visible-xs.visible-xs,
  .visible-md.visible-xs.hidden-sm,
  .visible-md.hidden-sm.visible-lg,
  .visible-md.hidden-sm.visible-md,
  .visible-md.hidden-sm.visible-xs,
  .visible-md.hidden-sm.hidden-sm,
  .visible-xs.visible-lg.visible-lg,
  .visible-xs.visible-lg.visible-md,
  .visible-xs.visible-lg.visible-xs,
  .visible-xs.visible-lg.hidden-sm,
  .visible-xs.visible-md.visible-lg,
  .visible-xs.visible-md.visible-md,
  .visible-xs.visible-md.visible-xs,
  .visible-xs.visible-md.hidden-sm,
  .visible-xs.visible-xs.visible-lg,
  .visible-xs.visible-xs.visible-md,
  .visible-xs.visible-xs.visible-xs,
  .visible-xs.visible-xs.hidden-sm,
  .visible-xs.hidden-sm.visible-lg,
  .visible-xs.hidden-sm.visible-md,
  .visible-xs.hidden-sm.visible-xs,
  .visible-xs.hidden-sm.hidden-sm,
  .hidden-sm.visible-lg.visible-lg,
  .hidden-sm.visible-lg.visible-md,
  .hidden-sm.visible-lg.visible-xs,
  .hidden-sm.visible-lg.hidden-sm,
  .hidden-sm.visible-md.visible-lg,
  .hidden-sm.visible-md.visible-md,
  .hidden-sm.visible-md.visible-xs,
  .hidden-sm.visible-md.hidden-sm,
  .hidden-sm.visible-xs.visible-lg,
  .hidden-sm.visible-xs.visible-md,
  .hidden-sm.visible-xs.visible-xs,
  .hidden-sm.visible-xs.hidden-sm,
  .hidden-sm.hidden-sm.visible-lg,
  .hidden-sm.hidden-sm.visible-md,
  .hidden-sm.hidden-sm.visible-xs,
  .hidden-sm.hidden-sm.hidden-sm,
  span.visible-lg.visible-lg.visible-lg,
  span.visible-lg.visible-lg.visible-md,
  span.visible-lg.visible-lg.visible-xs,
  span.visible-lg.visible-lg.hidden-sm,
  span.visible-lg.visible-md.visible-lg,
  span.visible-lg.visible-md.visible-md,
  span.visible-lg.visible-md.visible-xs,
  span.visible-lg.visible-md.hidden-sm,
  span.visible-lg.visible-xs.visible-lg,
  span.visible-lg.visible-xs.visible-md,
  span.visible-lg.visible-xs.visible-xs,
  span.visible-lg.visible-xs.hidden-sm,
  span.visible-lg.hidden-sm.visible-lg,
  span.visible-lg.hidden-sm.visible-md,
  span.visible-lg.hidden-sm.visible-xs,
  span.visible-lg.hidden-sm.hidden-sm,
  span.visible-md.visible-lg.visible-lg,
  span.visible-md.visible-lg.visible-md,
  span.visible-md.visible-lg.visible-xs,
  span.visible-md.visible-lg.hidden-sm,
  span.visible-md.visible-md.visible-lg,
  span.visible-md.visible-md.visible-md,
  span.visible-md.visible-md.visible-xs,
  span.visible-md.visible-md.hidden-sm,
  span.visible-md.visible-xs.visible-lg,
  span.visible-md.visible-xs.visible-md,
  span.visible-md.visible-xs.visible-xs,
  span.visible-md.visible-xs.hidden-sm,
  span.visible-md.hidden-sm.visible-lg,
  span.visible-md.hidden-sm.visible-md,
  span.visible-md.hidden-sm.visible-xs,
  span.visible-md.hidden-sm.hidden-sm,
  span.visible-xs.visible-lg.visible-lg,
  span.visible-xs.visible-lg.visible-md,
  span.visible-xs.visible-lg.visible-xs,
  span.visible-xs.visible-lg.hidden-sm,
  span.visible-xs.visible-md.visible-lg,
  span.visible-xs.visible-md.visible-md,
  span.visible-xs.visible-md.visible-xs,
  span.visible-xs.visible-md.hidden-sm,
  span.visible-xs.visible-xs.visible-lg,
  span.visible-xs.visible-xs.visible-md,
  span.visible-xs.visible-xs.visible-xs,
  span.visible-xs.visible-xs.hidden-sm,
  span.visible-xs.hidden-sm.visible-lg,
  span.visible-xs.hidden-sm.visible-md,
  span.visible-xs.hidden-sm.visible-xs,
  span.visible-xs.hidden-sm.hidden-sm,
  span.hidden-sm.visible-lg.visible-lg,
  span.hidden-sm.visible-lg.visible-md,
  span.hidden-sm.visible-lg.visible-xs,
  span.hidden-sm.visible-lg.hidden-sm,
  span.hidden-sm.visible-md.visible-lg,
  span.hidden-sm.visible-md.visible-md,
  span.hidden-sm.visible-md.visible-xs,
  span.hidden-sm.visible-md.hidden-sm,
  span.hidden-sm.visible-xs.visible-lg,
  span.hidden-sm.visible-xs.visible-md,
  span.hidden-sm.visible-xs.visible-xs,
  span.hidden-sm.visible-xs.hidden-sm,
  span.hidden-sm.hidden-sm.visible-lg,
  span.hidden-sm.hidden-sm.visible-md,
  span.hidden-sm.hidden-sm.visible-xs,
  span.hidden-sm.hidden-sm.hidden-sm {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .visible-xs.visible-xs.visible-xs,
  .visible-xs.visible-xs.hidden-md,
  .visible-xs.hidden-md.visible-xs,
  .visible-xs.hidden-md.hidden-md,
  .hidden-md.visible-xs.visible-xs,
  .hidden-md.visible-xs.hidden-md,
  .hidden-md.hidden-md.visible-xs,
  .hidden-md.hidden-md.hidden-md {
    display: block;
  }
  span.visible-xs.visible-xs.visible-xs,
  span.visible-xs.visible-xs.hidden-md,
  span.visible-xs.hidden-md.visible-xs,
  span.visible-xs.hidden-md.hidden-md,
  span.hidden-md.visible-xs.visible-xs,
  span.hidden-md.visible-xs.hidden-md,
  span.hidden-md.hidden-md.visible-xs,
  span.hidden-md.hidden-md.hidden-md {
    display: inline-block;
  }
  .visible-lg.visible-lg.visible-lg,
  .visible-lg.visible-lg.visible-md,
  .visible-lg.visible-lg.visible-sm,
  .visible-lg.visible-lg.hidden-xs,
  .visible-lg.visible-md.visible-lg,
  .visible-lg.visible-md.visible-md,
  .visible-lg.visible-md.visible-sm,
  .visible-lg.visible-md.hidden-xs,
  .visible-lg.visible-sm.visible-lg,
  .visible-lg.visible-sm.visible-md,
  .visible-lg.visible-sm.visible-sm,
  .visible-lg.visible-sm.hidden-xs,
  .visible-lg.hidden-xs.visible-lg,
  .visible-lg.hidden-xs.visible-md,
  .visible-lg.hidden-xs.visible-sm,
  .visible-lg.hidden-xs.hidden-xs,
  .visible-md.visible-lg.visible-lg,
  .visible-md.visible-lg.visible-md,
  .visible-md.visible-lg.visible-sm,
  .visible-md.visible-lg.hidden-xs,
  .visible-md.visible-md.visible-lg,
  .visible-md.visible-md.visible-md,
  .visible-md.visible-md.visible-sm,
  .visible-md.visible-md.hidden-xs,
  .visible-md.visible-sm.visible-lg,
  .visible-md.visible-sm.visible-md,
  .visible-md.visible-sm.visible-sm,
  .visible-md.visible-sm.hidden-xs,
  .visible-md.hidden-xs.visible-lg,
  .visible-md.hidden-xs.visible-md,
  .visible-md.hidden-xs.visible-sm,
  .visible-md.hidden-xs.hidden-xs,
  .visible-sm.visible-lg.visible-lg,
  .visible-sm.visible-lg.visible-md,
  .visible-sm.visible-lg.visible-sm,
  .visible-sm.visible-lg.hidden-xs,
  .visible-sm.visible-md.visible-lg,
  .visible-sm.visible-md.visible-md,
  .visible-sm.visible-md.visible-sm,
  .visible-sm.visible-md.hidden-xs,
  .visible-sm.visible-sm.visible-lg,
  .visible-sm.visible-sm.visible-md,
  .visible-sm.visible-sm.visible-sm,
  .visible-sm.visible-sm.hidden-xs,
  .visible-sm.hidden-xs.visible-lg,
  .visible-sm.hidden-xs.visible-md,
  .visible-sm.hidden-xs.visible-sm,
  .visible-sm.hidden-xs.hidden-xs,
  .hidden-xs.visible-lg.visible-lg,
  .hidden-xs.visible-lg.visible-md,
  .hidden-xs.visible-lg.visible-sm,
  .hidden-xs.visible-lg.hidden-xs,
  .hidden-xs.visible-md.visible-lg,
  .hidden-xs.visible-md.visible-md,
  .hidden-xs.visible-md.visible-sm,
  .hidden-xs.visible-md.hidden-xs,
  .hidden-xs.visible-sm.visible-lg,
  .hidden-xs.visible-sm.visible-md,
  .hidden-xs.visible-sm.visible-sm,
  .hidden-xs.visible-sm.hidden-xs,
  .hidden-xs.hidden-xs.visible-lg,
  .hidden-xs.hidden-xs.visible-md,
  .hidden-xs.hidden-xs.visible-sm,
  .hidden-xs.hidden-xs.hidden-xs,
  span.visible-lg.visible-lg.visible-lg,
  span.visible-lg.visible-lg.visible-md,
  span.visible-lg.visible-lg.visible-sm,
  span.visible-lg.visible-lg.hidden-xs,
  span.visible-lg.visible-md.visible-lg,
  span.visible-lg.visible-md.visible-md,
  span.visible-lg.visible-md.visible-sm,
  span.visible-lg.visible-md.hidden-xs,
  span.visible-lg.visible-sm.visible-lg,
  span.visible-lg.visible-sm.visible-md,
  span.visible-lg.visible-sm.visible-sm,
  span.visible-lg.visible-sm.hidden-xs,
  span.visible-lg.hidden-xs.visible-lg,
  span.visible-lg.hidden-xs.visible-md,
  span.visible-lg.hidden-xs.visible-sm,
  span.visible-lg.hidden-xs.hidden-xs,
  span.visible-md.visible-lg.visible-lg,
  span.visible-md.visible-lg.visible-md,
  span.visible-md.visible-lg.visible-sm,
  span.visible-md.visible-lg.hidden-xs,
  span.visible-md.visible-md.visible-lg,
  span.visible-md.visible-md.visible-md,
  span.visible-md.visible-md.visible-sm,
  span.visible-md.visible-md.hidden-xs,
  span.visible-md.visible-sm.visible-lg,
  span.visible-md.visible-sm.visible-md,
  span.visible-md.visible-sm.visible-sm,
  span.visible-md.visible-sm.hidden-xs,
  span.visible-md.hidden-xs.visible-lg,
  span.visible-md.hidden-xs.visible-md,
  span.visible-md.hidden-xs.visible-sm,
  span.visible-md.hidden-xs.hidden-xs,
  span.visible-sm.visible-lg.visible-lg,
  span.visible-sm.visible-lg.visible-md,
  span.visible-sm.visible-lg.visible-sm,
  span.visible-sm.visible-lg.hidden-xs,
  span.visible-sm.visible-md.visible-lg,
  span.visible-sm.visible-md.visible-md,
  span.visible-sm.visible-md.visible-sm,
  span.visible-sm.visible-md.hidden-xs,
  span.visible-sm.visible-sm.visible-lg,
  span.visible-sm.visible-sm.visible-md,
  span.visible-sm.visible-sm.visible-sm,
  span.visible-sm.visible-sm.hidden-xs,
  span.visible-sm.hidden-xs.visible-lg,
  span.visible-sm.hidden-xs.visible-md,
  span.visible-sm.hidden-xs.visible-sm,
  span.visible-sm.hidden-xs.hidden-xs,
  span.hidden-xs.visible-lg.visible-lg,
  span.hidden-xs.visible-lg.visible-md,
  span.hidden-xs.visible-lg.visible-sm,
  span.hidden-xs.visible-lg.hidden-xs,
  span.hidden-xs.visible-md.visible-lg,
  span.hidden-xs.visible-md.visible-md,
  span.hidden-xs.visible-md.visible-sm,
  span.hidden-xs.visible-md.hidden-xs,
  span.hidden-xs.visible-sm.visible-lg,
  span.hidden-xs.visible-sm.visible-md,
  span.hidden-xs.visible-sm.visible-sm,
  span.hidden-xs.visible-sm.hidden-xs,
  span.hidden-xs.hidden-xs.visible-lg,
  span.hidden-xs.hidden-xs.visible-md,
  span.hidden-xs.hidden-xs.visible-sm,
  span.hidden-xs.hidden-xs.hidden-xs {
    display: none;
  }
}