/*
* FONTS
*/
/*
* MEDIA QUERIES
*/
/*
* SPACING
*/
/*
* LAYOUT 
*/
/* 
* library of mixins and variables for styling the controls in the UI Library.
* FOR USE ONLY BY FILES WITHIN THE UI LIBRARY PACKAGE ITSELF. DO NOT INCLUDE THIS FILE ELSEWHERE.
*/
/*
 * Typography
 */
/*
 * Color and styling mixins
 */
/*
 * meters (used for range slider, progress meter, and similar meters)
 */
/*
  * checkboxes and radios
  */
/*
  * option sets
  */
/*
 * NEW PLATFORM standard styling for controls that look like textbuttons
 */
/*
 * Icons and sprites
 *
 * height and width variables are in CSS pixels rather than image pixels
 */
/* 
 * "packagecssroot" is the path to the root CSS directory within the UI Library package. 
 * This path will be relative to the stylesheet that uses the mixin, not to the location of the mixin itself.
 * From the package's own stylesheets in /css/controls, this would therefore be "..", which is why that value is the default.
 * However, if these mixins are used outside the package, this will need to be explicitly set to something like "/vp/css/pkg/vp.uilibrary"
 */
/*
 * =============================================================================================================
 * GLOBALS FOR OLD PLATFORM ONLY.
 * Not for use on the new platform.
 * =============================================================================================================
 */
/* 
    Reminder: for use ONLY within the UI Library package! 

    Primarily used by the .typography-2017 selector, but also needed by some other UI Library elements that should 
    have this typography whether or not they are inside a typography-2017 section (e.g. the 2017 modal dialog skins).
*/
/* 
 * DEPRECATED. Use the visually-hidden() mixin instead of this value. 
 * some form elements need to hidden from view, but if you use display:none, some browsers have problems with event handlers.
 * instead, we have a mixin set the left property to this value, to shift the element leftwards out of view.
 */
 @keyframes popover-slide-top {
  0% {
    opacity: 0;
    transform: translateY(-15%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes popover-slide-right {
  0% {
    opacity: 0;
    transform: translateX(15%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes popover-slide-bottom {
  0% {
    opacity: 0;
    transform: translateY(15%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes popover-slide-left {
  0% {
    opacity: 0;
    transform: translateX(-15%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.popover {
  position: fixed;
  z-index: 10;
  box-sizing: border-box;
  min-height: 30px;
  padding: 20px;
  background: #fff;
  border: 1px solid #c8cbcc;
  border-radius: 5px;
  -webkit-filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
}
.popover::before,
.popover::after {
  content: "";
  position: absolute;
  border: 12px solid transparent;
}
.popover-position-top {
  margin-top: -20px;
  animation: 0.4s popover-slide-top;
}
.popover-position-top::before,
.popover-position-top::after {
  top: 100%;
  left: 50%;
  margin-left: -12px;
  border-top-color: #fff;
}
.popover-position-top::before {
  margin-top: 1px;
  border-top-color: #c8cbcc;
}
.popover-position-right {
  margin-left: 20px;
  animation: 0.4s popover-slide-right;
}
.popover-position-right::before,
.popover-position-right::after {
  top: 50%;
  right: 100%;
  margin-top: -12px;
  border-right-color: #fff;
}
.popover-position-right::before {
  margin-right: 1px;
  border-right-color: #c8cbcc;
}
.popover-position-bottom {
  margin-top: 20px;
  animation: 0.4s popover-slide-bottom;
}
.popover-position-bottom::before,
.popover-position-bottom::after {
  bottom: 100%;
  left: 50%;
  margin-left: -12px;
  border-bottom-color: #fff;
}
.popover-position-bottom::before {
  margin-bottom: 1px;
  border-bottom-color: #c8cbcc;
}
.popover-position-left {
  margin-left: -20px;
  animation: 0.4s popover-slide-left;
}
.popover-position-left::before,
.popover-position-left::after {
  top: 50%;
  left: 100%;
  margin-top: -12px;
  border-left-color: #fff;
}
.popover-position-left::before {
  margin-left: 1px;
  border-left-color: #c8cbcc;
}
.popover.popover-hide-arrow::before,
.popover.popover-hide-arrow::after {
  display: none;
}
.popover-content {
  display: none;
}
.popover.popover-skin-full-bleed {
  padding: 0;
}