/*
* FONTS
*/
/*
* MEDIA QUERIES
*/
/*
* SPACING
*/
/*
* LAYOUT 
*/
/* 
* library of mixins and variables for styling the controls in the UI Library.
* FOR USE ONLY BY FILES WITHIN THE UI LIBRARY PACKAGE ITSELF. DO NOT INCLUDE THIS FILE ELSEWHERE.
*/
/*
 * Typography
 */
/*
 * Color and styling mixins
 */
/*
 * meters (used for range slider, progress meter, and similar meters)
 */
/*
  * checkboxes and radios
  */
/*
  * option sets
  */
/*
 * NEW PLATFORM standard styling for controls that look like textbuttons
 */
/*
 * Icons and sprites
 *
 * height and width variables are in CSS pixels rather than image pixels
 */
/* 
 * "packagecssroot" is the path to the root CSS directory within the UI Library package. 
 * This path will be relative to the stylesheet that uses the mixin, not to the location of the mixin itself.
 * From the package's own stylesheets in /css/controls, this would therefore be "..", which is why that value is the default.
 * However, if these mixins are used outside the package, this will need to be explicitly set to something like "/vp/css/pkg/vp.uilibrary"
 */
/*
 * =============================================================================================================
 * GLOBALS FOR OLD PLATFORM ONLY.
 * Not for use on the new platform.
 * =============================================================================================================
 */
/* 
    Reminder: for use ONLY within the UI Library package! 

    Primarily used by the .typography-2017 selector, but also needed by some other UI Library elements that should 
    have this typography whether or not they are inside a typography-2017 section (e.g. the 2017 modal dialog skins).
*/
/* 
 * DEPRECATED. Use the visually-hidden() mixin instead of this value. 
 * some form elements need to hidden from view, but if you use display:none, some browsers have problems with event handlers.
 * instead, we have a mixin set the left property to this value, to shift the element leftwards out of view.
 */
/*
* Vistagrid
* layout grid for the current (2019-) platform
*/
/*
* standard (Medium) grid (e.g. desktops, tablets in landscape mode)
*/
.grid-container {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  padding-left: 0;
  width: 960px;
}
.grid-container .row {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.grid-container .row .row {
  margin: 0 -8px;
}
.grid-container .col-1 {
  width: 64px;
}
.grid-container .col-2 {
  width: 144px;
}
.grid-container .col-3 {
  width: 224px;
}
.grid-container .col-4 {
  width: 304px;
}
.grid-container .col-5 {
  width: 384px;
}
.grid-container .col-6 {
  width: 464px;
}
.grid-container .col-7 {
  width: 544px;
}
.grid-container .col-8 {
  width: 624px;
}
.grid-container .col-9 {
  width: 704px;
}
.grid-container .col-10 {
  width: 784px;
}
.grid-container .col-11 {
  width: 864px;
}
.grid-container .col-12 {
  width: 944px;
}
.grid-container .col-1,
.grid-container .col-2,
.grid-container .col-3,
.grid-container .col-4,
.grid-container .col-5,
.grid-container .col-6,
.grid-container .col-7,
.grid-container .col-8,
.grid-container .col-9,
.grid-container .col-10,
.grid-container .col-11,
.grid-container .col-12 {
  box-sizing: border-box;
  position: relative;
  max-width: none;
  margin-left: 8px;
  margin-right: 8px;
  padding: 0;
  list-style-type: none;
  float: none;
  vertical-align: top;
}
.grid-container .col-1.floating-container,
.grid-container .col-2.floating-container,
.grid-container .col-3.floating-container,
.grid-container .col-4.floating-container,
.grid-container .col-5.floating-container,
.grid-container .col-6.floating-container,
.grid-container .col-7.floating-container,
.grid-container .col-8.floating-container,
.grid-container .col-9.floating-container,
.grid-container .col-10.floating-container,
.grid-container .col-11.floating-container,
.grid-container .col-12.floating-container {
  float: left;
  margin-left: 0;
  margin-bottom: 15px;
}
.grid-container .col-1.floating-container.floating-container-right,
.grid-container .col-2.floating-container.floating-container-right,
.grid-container .col-3.floating-container.floating-container-right,
.grid-container .col-4.floating-container.floating-container-right,
.grid-container .col-5.floating-container.floating-container-right,
.grid-container .col-6.floating-container.floating-container-right,
.grid-container .col-7.floating-container.floating-container-right,
.grid-container .col-8.floating-container.floating-container-right,
.grid-container .col-9.floating-container.floating-container-right,
.grid-container .col-10.floating-container.floating-container-right,
.grid-container .col-11.floating-container.floating-container-right,
.grid-container .col-12.floating-container.floating-container-right {
  float: right;
  margin-right: 0;
  margin-left: 8px;
}
.grid-container .col-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.grid-container .col-vertically-center {
  align-self: center;
}
.grid-container .row.row-sticky {
  align-items: start;
}
.grid-container .row.row-sticky .col-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}
@media only screen and (max-width: 767px) {
  .grid-container .row.row-sticky .col-sticky.col-unsticky-xs {
    position: static;
  }
}
.grid-container .grid-container {
  width: 100%;
  max-width: 960px;
}
/*
    Offsets, pushes, and pulls
*/
.grid-container .col-offset-1 {
  margin-left: 88px;
}
.grid-container .col-offset-2 {
  margin-left: 168px;
}
.grid-container .col-offset-3 {
  margin-left: 248px;
}
.grid-container .col-offset-4 {
  margin-left: 328px;
}
.grid-container .col-offset-5 {
  margin-left: 408px;
}
.grid-container .col-offset-6 {
  margin-left: 488px;
}
.grid-container .col-offset-7 {
  margin-left: 568px;
}
.grid-container .col-offset-8 {
  margin-left: 648px;
}
.grid-container .col-offset-9 {
  margin-left: 728px;
}
.grid-container .col-offset-0 {
  margin-left: 8px;
}
.grid-container .col-push-1 {
  left: 80px;
}
.grid-container .col-push-2 {
  left: 160px;
}
.grid-container .col-push-3 {
  left: 240px;
}
.grid-container .col-push-4 {
  left: 320px;
}
.grid-container .col-push-5 {
  left: 400px;
}
.grid-container .col-push-6 {
  left: 480px;
}
.grid-container .col-push-7 {
  left: 560px;
}
.grid-container .col-push-8 {
  left: 640px;
}
.grid-container .col-push-9 {
  left: 720px;
}
.grid-container .col-push-10 {
  left: 800px;
}
.grid-container .col-push-11 {
  left: 880px;
}
.grid-container .col-pull-1 {
  left: -80px;
}
.grid-container .col-pull-2 {
  left: -160px;
}
.grid-container .col-pull-3 {
  left: -240px;
}
.grid-container .col-pull-4 {
  left: -320px;
}
.grid-container .col-pull-5 {
  left: -400px;
}
.grid-container .col-pull-6 {
  left: -480px;
}
.grid-container .col-pull-7 {
  left: -560px;
}
.grid-container .col-pull-8 {
  left: -640px;
}
.grid-container .col-pull-9 {
  left: -720px;
}
.grid-container .col-pull-10 {
  left: -800px;
}
.grid-container .col-pull-11 {
  left: -880px;
}
.grid-container .col-push-0,
.grid-container .col-pull-0 {
  left: 0;
}
/*
* Large grid (e.g. wide monitors)
*/
@media only screen and (min-width: 1304px) {
  .grid-container {
    width: 1284px;
  }
  .grid-container .col-1,
  .grid-container .col-lg-1.col-lg-1 {
    width: 91px;
  }
  .grid-container .col-2,
  .grid-container .col-lg-2.col-lg-2 {
    width: 198px;
  }
  .grid-container .col-3,
  .grid-container .col-lg-3.col-lg-3 {
    width: 305px;
  }
  .grid-container .col-4,
  .grid-container .col-lg-4.col-lg-4 {
    width: 412px;
  }
  .grid-container .col-5,
  .grid-container .col-lg-5.col-lg-5 {
    width: 519px;
  }
  .grid-container .col-6,
  .grid-container .col-lg-6.col-lg-6 {
    width: 626px;
  }
  .grid-container .col-7,
  .grid-container .col-lg-7.col-lg-7 {
    width: 733px;
  }
  .grid-container .col-8,
  .grid-container .col-lg-8.col-lg-8 {
    width: 840px;
  }
  .grid-container .col-9,
  .grid-container .col-lg-9.col-lg-9 {
    width: 947px;
  }
  .grid-container .col-10,
  .grid-container .col-lg-10.col-lg-10 {
    width: 1054px;
  }
  .grid-container .col-11,
  .grid-container .col-lg-11.col-lg-11 {
    width: 1161px;
  }
  .grid-container .col-12,
  .grid-container .col-lg-12.col-lg-12 {
    width: 1268px;
  }
  .grid-container .col-1,
  .grid-container .col-2,
  .grid-container .col-3,
  .grid-container .col-4,
  .grid-container .col-5,
  .grid-container .col-6,
  .grid-container .col-7,
  .grid-container .col-8,
  .grid-container .col-9,
  .grid-container .col-10,
  .grid-container .col-11,
  .grid-container .col-12 {
    max-width: none;
  }
  .grid-container .grid-container {
    width: 100%;
    max-width: 1284px;
  }
  .grid-container .col-offset-1,
  .grid-container .col-lg-offset-1.col-lg-offset-1 {
    margin-left: 115px;
  }
  .grid-container .col-offset-2,
  .grid-container .col-lg-offset-2.col-lg-offset-2 {
    margin-left: 222px;
  }
  .grid-container .col-offset-3,
  .grid-container .col-lg-offset-3.col-lg-offset-3 {
    margin-left: 329px;
  }
  .grid-container .col-offset-4,
  .grid-container .col-lg-offset-4.col-lg-offset-4 {
    margin-left: 436px;
  }
  .grid-container .col-offset-5,
  .grid-container .col-lg-offset-5.col-lg-offset-5 {
    margin-left: 543px;
  }
  .grid-container .col-offset-6,
  .grid-container .col-lg-offset-6.col-lg-offset-6 {
    margin-left: 650px;
  }
  .grid-container .col-offset-7,
  .grid-container .col-lg-offset-7.col-lg-offset-7 {
    margin-left: 757px;
  }
  .grid-container .col-offset-8,
  .grid-container .col-lg-offset-8.col-lg-offset-8 {
    margin-left: 864px;
  }
  .grid-container .col-offset-9,
  .grid-container .col-lg-offset-9.col-lg-offset-9 {
    margin-left: 971px;
  }
  .grid-container .col-offset-0,
  .grid-container .col-lg-offset-0.col-lg-offset-0 {
    margin-left: 0;
  }
  .grid-container .col-push-1,
  .grid-container .col-lg-push-1.col-lg-push-1 {
    left: 107px;
  }
  .grid-container .col-push-2,
  .grid-container .col-lg-push-2.col-lg-push-2 {
    left: 214px;
  }
  .grid-container .col-push-3,
  .grid-container .col-lg-push-3.col-lg-push-3 {
    left: 321px;
  }
  .grid-container .col-push-4,
  .grid-container .col-lg-push-4.col-lg-push-4 {
    left: 428px;
  }
  .grid-container .col-push-5,
  .grid-container .col-lg-push-5.col-lg-push-5 {
    left: 535px;
  }
  .grid-container .col-push-6,
  .grid-container .col-lg-push-6.col-lg-push-6 {
    left: 642px;
  }
  .grid-container .col-push-7,
  .grid-container .col-lg-push-7.col-lg-push-7 {
    left: 749px;
  }
  .grid-container .col-push-8,
  .grid-container .col-lg-push-8.col-lg-push-8 {
    left: 856px;
  }
  .grid-container .col-push-9,
  .grid-container .col-lg-push-9.col-lg-push-9 {
    left: 963px;
  }
  .grid-container .col-push-10,
  .grid-container .col-lg-push-10.col-lg-push-10 {
    left: 1070px;
  }
  .grid-container .col-push-11,
  .grid-container .col-lg-push-11.col-lg-push-11 {
    left: 1177px;
  }
  .grid-container .col-pull-1,
  .grid-container .col-lg-pull-1.col-lg-pull-1 {
    left: -107px;
  }
  .grid-container .col-pull-2,
  .grid-container .col-lg-pull-2.col-lg-pull-2 {
    left: -214px;
  }
  .grid-container .col-pull-3,
  .grid-container .col-lg-pull-3.col-lg-pull-3 {
    left: -321px;
  }
  .grid-container .col-pull-4,
  .grid-container .col-lg-pull-4.col-lg-pull-4 {
    left: -428px;
  }
  .grid-container .col-pull-5,
  .grid-container .col-lg-pull-5.col-lg-pull-5 {
    left: -535px;
  }
  .grid-container .col-pull-6,
  .grid-container .col-lg-pull-6.col-lg-pull-6 {
    left: -642px;
  }
  .grid-container .col-pull-7,
  .grid-container .col-lg-pull-7.col-lg-pull-7 {
    left: -749px;
  }
  .grid-container .col-pull-8,
  .grid-container .col-lg-pull-8.col-lg-pull-8 {
    left: -856px;
  }
  .grid-container .col-pull-9,
  .grid-container .col-lg-pull-9.col-lg-pull-9 {
    left: -963px;
  }
  .grid-container .col-pull-10,
  .grid-container .col-lg-pull-10.col-lg-pull-10 {
    left: -1070px;
  }
  .grid-container .col-pull-11,
  .grid-container .col-lg-pull-11.col-lg-pull-11 {
    left: -1177px;
  }
  .grid-container .col-lg-push-0.col-lg-push-0,
  .grid-container .col-lg-pull-0.col-lg-pull-0 {
    left: 0;
  }
}
/*
* Small grid (e.g. tablets in portrait mode)
*/
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .grid-container {
    width: 744px;
  }
  .grid-container .col-1,
  .grid-container .col-sm-1.col-sm-1 {
    width: 46px;
  }
  .grid-container .col-2,
  .grid-container .col-sm-2.col-sm-2 {
    width: 108px;
  }
  .grid-container .col-3,
  .grid-container .col-sm-3.col-sm-3 {
    width: 170px;
  }
  .grid-container .col-4,
  .grid-container .col-sm-4.col-sm-4 {
    width: 232px;
  }
  .grid-container .col-5,
  .grid-container .col-sm-5.col-sm-5 {
    width: 294px;
  }
  .grid-container .col-6,
  .grid-container .col-sm-6.col-sm-6 {
    width: 356px;
  }
  .grid-container .col-7,
  .grid-container .col-sm-7.col-sm-7 {
    width: 418px;
  }
  .grid-container .col-8,
  .grid-container .col-sm-8.col-sm-8 {
    width: 480px;
  }
  .grid-container .col-9,
  .grid-container .col-sm-9.col-sm-9 {
    width: 542px;
  }
  .grid-container .col-10,
  .grid-container .col-sm-10.col-sm-10 {
    width: 604px;
  }
  .grid-container .col-11,
  .grid-container .col-sm-11.col-sm-11 {
    width: 666px;
  }
  .grid-container .col-12,
  .grid-container .col-sm-12.col-sm-12 {
    width: 728px;
  }
  .grid-container .col-1,
  .grid-container .col-2,
  .grid-container .col-3,
  .grid-container .col-4,
  .grid-container .col-5,
  .grid-container .col-6,
  .grid-container .col-7,
  .grid-container .col-8,
  .grid-container .col-9,
  .grid-container .col-10,
  .grid-container .col-11,
  .grid-container .col-12 {
    max-width: none;
  }
  .grid-container .grid-container {
    width: 100%;
    max-width: 744px;
  }
  .grid-container .col-offset-1,
  .grid-container .col-sm-offset-1.col-sm-offset-1 {
    margin-left: 70px;
  }
  .grid-container .col-offset-2,
  .grid-container .col-sm-offset-2.col-sm-offset-2 {
    margin-left: 132px;
  }
  .grid-container .col-offset-3,
  .grid-container .col-sm-offset-3.col-sm-offset-3 {
    margin-left: 194px;
  }
  .grid-container .col-offset-4,
  .grid-container .col-sm-offset-4.col-sm-offset-4 {
    margin-left: 256px;
  }
  .grid-container .col-offset-5,
  .grid-container .col-sm-offset-5.col-sm-offset-5 {
    margin-left: 318px;
  }
  .grid-container .col-offset-6,
  .grid-container .col-sm-offset-6.col-sm-offset-6 {
    margin-left: 380px;
  }
  .grid-container .col-offset-7,
  .grid-container .col-sm-offset-7.col-sm-offset-7 {
    margin-left: 442px;
  }
  .grid-container .col-offset-8,
  .grid-container .col-sm-offset-8.col-sm-offset-8 {
    margin-left: 504px;
  }
  .grid-container .col-offset-9,
  .grid-container .col-sm-offset-9.col-sm-offset-9 {
    margin-left: 566px;
  }
  .grid-container .col-offset-0,
  .grid-container .col-sm-offset-0.col-sm-offset-0 {
    margin-left: 8px;
  }
  .grid-container .col-push-1,
  .grid-container .col-sm-push-1.col-sm-push-1 {
    left: 62px;
  }
  .grid-container .col-push-2,
  .grid-container .col-sm-push-2.col-sm-push-2 {
    left: 124px;
  }
  .grid-container .col-push-3,
  .grid-container .col-sm-push-3.col-sm-push-3 {
    left: 186px;
  }
  .grid-container .col-push-4,
  .grid-container .col-sm-push-4.col-sm-push-4 {
    left: 248px;
  }
  .grid-container .col-push-5,
  .grid-container .col-sm-push-5.col-sm-push-5 {
    left: 310px;
  }
  .grid-container .col-push-6,
  .grid-container .col-sm-push-6.col-sm-push-6 {
    left: 372px;
  }
  .grid-container .col-push-7,
  .grid-container .col-sm-push-7.col-sm-push-7 {
    left: 434px;
  }
  .grid-container .col-push-8,
  .grid-container .col-sm-push-8.col-sm-push-8 {
    left: 496px;
  }
  .grid-container .col-push-9,
  .grid-container .col-sm-push-9.col-sm-push-9 {
    left: 558px;
  }
  .grid-container .col-push-10,
  .grid-container .col-sm-push-10.col-sm-push-10 {
    left: 620px;
  }
  .grid-container .col-push-11,
  .grid-container .col-sm-push-11.col-sm-push-11 {
    left: 682px;
  }
  .grid-container .col-pull-1,
  .grid-container .col-sm-pull-1.col-sm-pull-1 {
    left: -62px;
  }
  .grid-container .col-pull-2,
  .grid-container .col-sm-pull-2.col-sm-pull-2 {
    left: -124px;
  }
  .grid-container .col-pull-3,
  .grid-container .col-sm-pull-3.col-sm-pull-3 {
    left: -186px;
  }
  .grid-container .col-pull-4,
  .grid-container .col-sm-pull-4.col-sm-pull-4 {
    left: -248px;
  }
  .grid-container .col-pull-5,
  .grid-container .col-sm-pull-5.col-sm-pull-5 {
    left: -310px;
  }
  .grid-container .col-pull-6,
  .grid-container .col-sm-pull-6.col-sm-pull-6 {
    left: -372px;
  }
  .grid-container .col-pull-7,
  .grid-container .col-sm-pull-7.col-sm-pull-7 {
    left: -434px;
  }
  .grid-container .col-pull-8,
  .grid-container .col-sm-pull-8.col-sm-pull-8 {
    left: -496px;
  }
  .grid-container .col-pull-9,
  .grid-container .col-sm-pull-9.col-sm-pull-9 {
    left: -558px;
  }
  .grid-container .col-pull-10,
  .grid-container .col-sm-pull-10.col-sm-pull-10 {
    left: -620px;
  }
  .grid-container .col-pull-11,
  .grid-container .col-sm-pull-11.col-sm-pull-11 {
    left: -682px;
  }
  .grid-container .col-sm-push-0.col-sm-push-0,
  .grid-container .col-sm-pull-0.col-sm-pull-0 {
    left: 0;
  }
}
/*
* Extra-Small grid (e.g. phones)
*/
@media only screen and (max-width: 767px) {
  .grid-container {
    max-width: 100%;
    width: auto;
    padding-left: 4%;
    padding-right: 4%;
  }
  .grid-container .row {
    padding: 0;
    margin: 0;
    width: 102%;
  }
  .grid-container .row .row {
    margin: 0;
  }
  .grid-container .col-1,
  .grid-container .col-2,
  .grid-container .col-3,
  .grid-container .col-4,
  .grid-container .col-5,
  .grid-container .col-6,
  .grid-container .col-7,
  .grid-container .col-8,
  .grid-container .col-9,
  .grid-container .col-10,
  .grid-container .col-11,
  .grid-container .col-12,
  .grid-container .col-offset-0,
  .grid-container .col-offset-1,
  .grid-container .col-offset-2,
  .grid-container .col-offset-3,
  .grid-container .col-offset-4,
  .grid-container .col-offset-5,
  .grid-container .col-offset-6,
  .grid-container .col-offset-7,
  .grid-container .col-offset-8,
  .grid-container .col-offset-9 {
    width: 98%;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
  .grid-container .col-1.floating-container,
  .grid-container .col-2.floating-container,
  .grid-container .col-3.floating-container,
  .grid-container .col-4.floating-container,
  .grid-container .col-5.floating-container,
  .grid-container .col-6.floating-container,
  .grid-container .col-7.floating-container,
  .grid-container .col-8.floating-container,
  .grid-container .col-9.floating-container,
  .grid-container .col-10.floating-container,
  .grid-container .col-11.floating-container,
  .grid-container .col-12.floating-container,
  .grid-container .col-offset-0.floating-container,
  .grid-container .col-offset-1.floating-container,
  .grid-container .col-offset-2.floating-container,
  .grid-container .col-offset-3.floating-container,
  .grid-container .col-offset-4.floating-container,
  .grid-container .col-offset-5.floating-container,
  .grid-container .col-offset-6.floating-container,
  .grid-container .col-offset-7.floating-container,
  .grid-container .col-offset-8.floating-container,
  .grid-container .col-offset-9.floating-container,
  .grid-container .col-1.floating-container.floating-container-right,
  .grid-container .col-2.floating-container.floating-container-right,
  .grid-container .col-3.floating-container.floating-container-right,
  .grid-container .col-4.floating-container.floating-container-right,
  .grid-container .col-5.floating-container.floating-container-right,
  .grid-container .col-6.floating-container.floating-container-right,
  .grid-container .col-7.floating-container.floating-container-right,
  .grid-container .col-8.floating-container.floating-container-right,
  .grid-container .col-9.floating-container.floating-container-right,
  .grid-container .col-10.floating-container.floating-container-right,
  .grid-container .col-11.floating-container.floating-container-right,
  .grid-container .col-12.floating-container.floating-container-right,
  .grid-container .col-offset-0.floating-container.floating-container-right,
  .grid-container .col-offset-1.floating-container.floating-container-right,
  .grid-container .col-offset-2.floating-container.floating-container-right,
  .grid-container .col-offset-3.floating-container.floating-container-right,
  .grid-container .col-offset-4.floating-container.floating-container-right,
  .grid-container .col-offset-5.floating-container.floating-container-right,
  .grid-container .col-offset-6.floating-container.floating-container-right,
  .grid-container .col-offset-7.floating-container.floating-container-right,
  .grid-container .col-offset-8.floating-container.floating-container-right,
  .grid-container .col-offset-9.floating-container.floating-container-right {
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 24px;
  }
  .grid-container .col-xs-1,
  .grid-container .col-xs-2,
  .grid-container .col-xs-3,
  .grid-container .col-xs-4,
  .grid-container .col-xs-5,
  .grid-container .col-xs-6,
  .grid-container .col-xs-7,
  .grid-container .col-xs-8,
  .grid-container .col-xs-9,
  .grid-container .col-xs-10,
  .grid-container .col-xs-11,
  .grid-container .col-xs-12 {
    margin-left: 0;
    margin-right: 2%;
  }
  .grid-container .col-xs-1.floating-container,
  .grid-container .col-xs-2.floating-container,
  .grid-container .col-xs-3.floating-container,
  .grid-container .col-xs-4.floating-container,
  .grid-container .col-xs-5.floating-container,
  .grid-container .col-xs-6.floating-container,
  .grid-container .col-xs-7.floating-container,
  .grid-container .col-xs-8.floating-container,
  .grid-container .col-xs-9.floating-container,
  .grid-container .col-xs-10.floating-container,
  .grid-container .col-xs-11.floating-container,
  .grid-container .col-xs-12.floating-container {
    margin-left: 0;
    margin-right: 2%;
  }
  .grid-container .col-xs-1.floating-container.floating-container-right,
  .grid-container .col-xs-2.floating-container.floating-container-right,
  .grid-container .col-xs-3.floating-container.floating-container-right,
  .grid-container .col-xs-4.floating-container.floating-container-right,
  .grid-container .col-xs-5.floating-container.floating-container-right,
  .grid-container .col-xs-6.floating-container.floating-container-right,
  .grid-container .col-xs-7.floating-container.floating-container-right,
  .grid-container .col-xs-8.floating-container.floating-container-right,
  .grid-container .col-xs-9.floating-container.floating-container-right,
  .grid-container .col-xs-10.floating-container.floating-container-right,
  .grid-container .col-xs-11.floating-container.floating-container-right,
  .grid-container .col-xs-12.floating-container.floating-container-right {
    margin-left: 2%;
    margin-right: 0;
  }
  .grid-container .col-xs-1 {
    width: 6.3333%;
  }
  .grid-container .col-xs-2 {
    width: 14.6666%;
  }
  .grid-container .col-xs-3 {
    width: 23%;
  }
  .grid-container .col-xs-4 {
    width: 31.3333%;
  }
  .grid-container .col-xs-5 {
    width: 39.6666%;
  }
  .grid-container .col-xs-6 {
    width: 48%;
  }
  .grid-container .col-xs-7 {
    width: 56.3333%;
  }
  .grid-container .col-xs-8 {
    width: 64.6666%;
  }
  .grid-container .col-xs-9 {
    width: 73%;
  }
  .grid-container .col-xs-10 {
    width: 81.3333%;
  }
  .grid-container .col-xs-11 {
    width: 89.6666%;
  }
  .grid-container .col-xs-12 {
    width: 98%;
  }
  .grid-container .col-push-1,
  .grid-container .col-push-2,
  .grid-container .col-push-3,
  .grid-container .col-push-4,
  .grid-container .col-push-5,
  .grid-container .col-push-6,
  .grid-container .col-push-7,
  .grid-container .col-push-8,
  .grid-container .col-push-9,
  .grid-container .col-push-10,
  .grid-container .col-push-11,
  .grid-container .col-push-12,
  .grid-container .col-pull-1,
  .grid-container .col-pull-2,
  .grid-container .col-pull-3,
  .grid-container .col-pull-4,
  .grid-container .col-pull-5,
  .grid-container .col-pull-6,
  .grid-container .col-pull-7,
  .grid-container .col-pull-8,
  .grid-container .col-pull-9,
  .grid-container .col-pull-10,
  .grid-container .col-pull-11 {
    left: 0%;
  }
  .grid-container .col-xs-offset-1 {
    left: 8.3333%;
  }
  .grid-container .col-xs-offset-2 {
    left: 16.6666%;
  }
  .grid-container .col-xs-offset-3 {
    left: 25%;
  }
  .grid-container .col-xs-offset-4 {
    left: 33.3333%;
  }
  .grid-container .col-xs-offset-5 {
    left: 41.6666%;
  }
  .grid-container .col-xs-offset-6 {
    left: 50%;
  }
  .grid-container .col-xs-offset-7 {
    left: 58.3333%;
  }
  .grid-container .col-xs-offset-8 {
    left: 66.6666%;
  }
  .grid-container .col-xs-offset-9 {
    left: 75%;
  }
  .grid-container .col-xs-offset-10 {
    left: 83.3333%;
  }
  .grid-container .col-xs-offset-11 {
    left: 91.6666%;
  }
}
/*
* proportional grid
* In this grid, column widths are relative to this grid container's total width, rather than the page content width.
* So a 6-column element will be 50% (minus gutters) of the container's width, not the 50% of the page content width.
*/
.grid-container.grid-container-proportional {
  width: 100%;
  max-width: none;
}
.grid-container.grid-container-proportional .col-1 {
  width: 8.33333333%;
}
.grid-container.grid-container-proportional .col-2 {
  width: 16.66666667%;
}
.grid-container.grid-container-proportional .col-3 {
  width: 25%;
}
.grid-container.grid-container-proportional .col-4 {
  width: 33.33333333%;
}
.grid-container.grid-container-proportional .col-5 {
  width: 41.66666667%;
}
.grid-container.grid-container-proportional .col-6 {
  width: 50%;
}
.grid-container.grid-container-proportional .col-7 {
  width: 58.33333333%;
}
.grid-container.grid-container-proportional .col-8 {
  width: 66.66666667%;
}
.grid-container.grid-container-proportional .col-9 {
  width: 75%;
}
.grid-container.grid-container-proportional .col-10 {
  width: 83.33333333%;
}
.grid-container.grid-container-proportional .col-11 {
  width: 91.66666667%;
}
.grid-container.grid-container-proportional .col-12 {
  width: 100%;
}
.grid-container.grid-container-proportional .col-1,
.grid-container.grid-container-proportional .col-2,
.grid-container.grid-container-proportional .col-3,
.grid-container.grid-container-proportional .col-4,
.grid-container.grid-container-proportional .col-5,
.grid-container.grid-container-proportional .col-6,
.grid-container.grid-container-proportional .col-7,
.grid-container.grid-container-proportional .col-8,
.grid-container.grid-container-proportional .col-9,
.grid-container.grid-container-proportional .col-10,
.grid-container.grid-container-proportional .col-11,
.grid-container.grid-container-proportional .col-12 {
  box-sizing: border-box;
  margin-left: 0;
  margin-right: 0;
  padding-left: 8px;
  padding-right: 8px;
}
.grid-container.grid-container-proportional .col-offset-1 {
  margin-left: 8.33333333%;
}
.grid-container.grid-container-proportional .col-offset-2 {
  margin-left: 16.66666667%;
}
.grid-container.grid-container-proportional .col-offset-3 {
  margin-left: 25%;
}
.grid-container.grid-container-proportional .col-offset-4 {
  margin-left: 33.33333333%;
}
.grid-container.grid-container-proportional .col-offset-5 {
  margin-left: 41.66666667%;
}
.grid-container.grid-container-proportional .col-offset-6 {
  margin-left: 50%;
}
.grid-container.grid-container-proportional .col-offset-7 {
  margin-left: 58.33333333%;
}
.grid-container.grid-container-proportional .col-offset-8 {
  margin-left: 66.66666667%;
}
.grid-container.grid-container-proportional .col-offset-9 {
  margin-left: 75%;
}
.grid-container.grid-container-proportional .col-offset-0 {
  margin-left: 0%;
}
.grid-container.grid-container-proportional .col-push-1 {
  left: 8.33333333%;
}
.grid-container.grid-container-proportional .col-push-2 {
  left: 16.66666667%;
}
.grid-container.grid-container-proportional .col-push-3 {
  left: 25%;
}
.grid-container.grid-container-proportional .col-push-4 {
  left: 33.33333333%;
}
.grid-container.grid-container-proportional .col-push-5 {
  left: 41.66666667%;
}
.grid-container.grid-container-proportional .col-push-6 {
  left: 50%;
}
.grid-container.grid-container-proportional .col-push-7 {
  left: 58.33333333%;
}
.grid-container.grid-container-proportional .col-push-8 {
  left: 66.66666667%;
}
.grid-container.grid-container-proportional .col-push-9 {
  left: 75%;
}
.grid-container.grid-container-proportional .col-push-10 {
  left: 83.33333333%;
}
.grid-container.grid-container-proportional .col-push-11 {
  left: 91.66666667%;
}
.grid-container.grid-container-proportional .col-pull-1 {
  left: -8.33333333%;
}
.grid-container.grid-container-proportional .col-pull-2 {
  left: -16.66666667%;
}
.grid-container.grid-container-proportional .col-pull-3 {
  left: -25%;
}
.grid-container.grid-container-proportional .col-pull-4 {
  left: -33.33333333%;
}
.grid-container.grid-container-proportional .col-pull-5 {
  left: -41.66666667%;
}
.grid-container.grid-container-proportional .col-pull-6 {
  left: -50%;
}
.grid-container.grid-container-proportional .col-pull-7 {
  left: -58.33333333%;
}
.grid-container.grid-container-proportional .col-pull-8 {
  left: -66.66666667%;
}
.grid-container.grid-container-proportional .col-pull-9 {
  left: -75%;
}
.grid-container.grid-container-proportional .col-pull-10 {
  left: -83.33333333%;
}
.grid-container.grid-container-proportional .col-pull-11 {
  left: -91.66666667%;
}
.grid-container.grid-container-proportional .card-set > .col-2,
.grid-container.grid-container-proportional .card-set > .col-3,
.grid-container.grid-container-proportional .card-set > .col-4,
.grid-container.grid-container-proportional .card-set > .col-6 {
  margin-left: 8px;
  margin-right: 8px;
}
.grid-container.grid-container-proportional .card-set > .col-2 {
  width: calc(16.6666% - 16px);
}
.grid-container.grid-container-proportional .card-set > .col-3 {
  width: calc(25% - 16px);
}
.grid-container.grid-container-proportional .card-set > .col-4 {
  width: calc(33.3333% - 16px);
}
.grid-container.grid-container-proportional .card-set > .col-6 {
  width: calc(50% - 16px);
}
/*
* Proportional grid for Large
*/
@media only screen and (min-width: 1304px) {
  .grid-container.grid-container-proportional.grid-container-proportional .col-lg-1 {
    width: 8.33333333%;
  }
  .grid-container.grid-container-proportional.grid-container-proportional .col-lg-2 {
    width: 16.66666667%;
  }
  .grid-container.grid-container-proportional.grid-container-proportional .col-lg-3 {
    width: 25%;
  }
  .grid-container.grid-container-proportional.grid-container-proportional .col-lg-4 {
    width: 33.33333333%;
  }
  .grid-container.grid-container-proportional.grid-container-proportional .col-lg-5 {
    width: 41.66666667%;
  }
  .grid-container.grid-container-proportional.grid-container-proportional .col-lg-6 {
    width: 50%;
  }
  .grid-container.grid-container-proportional.grid-container-proportional .col-lg-7 {
    width: 58.33333333%;
  }
  .grid-container.grid-container-proportional.grid-container-proportional .col-lg-8 {
    width: 66.66666667%;
  }
  .grid-container.grid-container-proportional.grid-container-proportional .col-lg-9 {
    width: 75%;
  }
  .grid-container.grid-container-proportional.grid-container-proportional .col-lg-10 {
    width: 83.33333333%;
  }
  .grid-container.grid-container-proportional.grid-container-proportional .col-lg-11 {
    width: 91.66666667%;
  }
  .grid-container.grid-container-proportional.grid-container-proportional .col-lg-12 {
    width: 100%;
  }
}
/*
* Proportional grid for Small
*/
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .grid-container.grid-container-proportional.grid-container-proportional .col-sm-1 {
    width: 8.33333333%;
  }
  .grid-container.grid-container-proportional.grid-container-proportional .col-sm-2 {
    width: 16.66666667%;
  }
  .grid-container.grid-container-proportional.grid-container-proportional .col-sm-3 {
    width: 25%;
  }
  .grid-container.grid-container-proportional.grid-container-proportional .col-sm-4 {
    width: 33.33333333%;
  }
  .grid-container.grid-container-proportional.grid-container-proportional .col-sm-5 {
    width: 41.66666667%;
  }
  .grid-container.grid-container-proportional.grid-container-proportional .col-sm-6 {
    width: 50%;
  }
  .grid-container.grid-container-proportional.grid-container-proportional .col-sm-7 {
    width: 58.33333333%;
  }
  .grid-container.grid-container-proportional.grid-container-proportional .col-sm-8 {
    width: 66.66666667%;
  }
  .grid-container.grid-container-proportional.grid-container-proportional .col-sm-9 {
    width: 75%;
  }
  .grid-container.grid-container-proportional.grid-container-proportional .col-sm-10 {
    width: 83.33333333%;
  }
  .grid-container.grid-container-proportional.grid-container-proportional .col-sm-11 {
    width: 91.66666667%;
  }
  .grid-container.grid-container-proportional.grid-container-proportional .col-sm-12 {
    width: 100%;
  }
}
/*
* Proportional grid for Extra-Small
*/
@media only screen and (max-width: 767px) {
  .grid-container.grid-container-proportional.grid-container-proportional {
    padding-left: 4%;
    padding-right: 4%;
  }
  .grid-container .grid-container.grid-container-proportional.grid-container-proportional {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }
  .grid-container.grid-container-proportional.grid-container-proportional .row {
    width: 102%;
    padding: 0;
    margin: 0 -2% 0 0;
  }
  .grid-container.grid-container-proportional.grid-container-proportional .col-1,
  .grid-container.grid-container-proportional.grid-container-proportional .col-2,
  .grid-container.grid-container-proportional.grid-container-proportional .col-3,
  .grid-container.grid-container-proportional.grid-container-proportional .col-4,
  .grid-container.grid-container-proportional.grid-container-proportional .col-5,
  .grid-container.grid-container-proportional.grid-container-proportional .col-6,
  .grid-container.grid-container-proportional.grid-container-proportional .col-7,
  .grid-container.grid-container-proportional.grid-container-proportional .col-8,
  .grid-container.grid-container-proportional.grid-container-proportional .col-9,
  .grid-container.grid-container-proportional.grid-container-proportional .col-10,
  .grid-container.grid-container-proportional.grid-container-proportional .col-11,
  .grid-container.grid-container-proportional.grid-container-proportional .col-12,
  .grid-container.grid-container-proportional.grid-container-proportional .col-offset-0,
  .grid-container.grid-container-proportional.grid-container-proportional .col-offset-1,
  .grid-container.grid-container-proportional.grid-container-proportional .col-offset-2,
  .grid-container.grid-container-proportional.grid-container-proportional .col-offset-3,
  .grid-container.grid-container-proportional.grid-container-proportional .col-offset-4,
  .grid-container.grid-container-proportional.grid-container-proportional .col-offset-5,
  .grid-container.grid-container-proportional.grid-container-proportional .col-offset-6,
  .grid-container.grid-container-proportional.grid-container-proportional .col-offset-7,
  .grid-container.grid-container-proportional.grid-container-proportional .col-offset-8,
  .grid-container.grid-container-proportional.grid-container-proportional .col-offset-9,
  .grid-container.grid-container-proportional.grid-container-proportional .col-push-1,
  .grid-container.grid-container-proportional.grid-container-proportional .col-push-2,
  .grid-container.grid-container-proportional.grid-container-proportional .col-push-3,
  .grid-container.grid-container-proportional.grid-container-proportional .col-push-4,
  .grid-container.grid-container-proportional.grid-container-proportional .col-push-5,
  .grid-container.grid-container-proportional.grid-container-proportional .col-push-6,
  .grid-container.grid-container-proportional.grid-container-proportional .col-push-7,
  .grid-container.grid-container-proportional.grid-container-proportional .col-push-8,
  .grid-container.grid-container-proportional.grid-container-proportional .col-push-9,
  .grid-container.grid-container-proportional.grid-container-proportional .col-push-10,
  .grid-container.grid-container-proportional.grid-container-proportional .col-push-11,
  .grid-container.grid-container-proportional.grid-container-proportional .col-push-12,
  .grid-container.grid-container-proportional.grid-container-proportional .col-pull-1,
  .grid-container.grid-container-proportional.grid-container-proportional .col-pull-2,
  .grid-container.grid-container-proportional.grid-container-proportional .col-pull-3,
  .grid-container.grid-container-proportional.grid-container-proportional .col-pull-4,
  .grid-container.grid-container-proportional.grid-container-proportional .col-pull-5,
  .grid-container.grid-container-proportional.grid-container-proportional .col-pull-6,
  .grid-container.grid-container-proportional.grid-container-proportional .col-pull-7,
  .grid-container.grid-container-proportional.grid-container-proportional .col-pull-8,
  .grid-container.grid-container-proportional.grid-container-proportional .col-pull-9,
  .grid-container.grid-container-proportional.grid-container-proportional .col-pull-10,
  .grid-container.grid-container-proportional.grid-container-proportional .col-pull-11,
  .grid-container.grid-container-proportional.grid-container-proportional .col-pull-12 {
    width: 100%;
    padding: 0 2% 0 0;
    margin-left: 0;
    left: 0;
  }
  .grid-container.grid-container-proportional.grid-container-proportional .col-xs-1,
  .grid-container.grid-container-proportional.grid-container-proportional .col-xs-2,
  .grid-container.grid-container-proportional.grid-container-proportional .col-xs-3,
  .grid-container.grid-container-proportional.grid-container-proportional .col-xs-4,
  .grid-container.grid-container-proportional.grid-container-proportional .col-xs-5,
  .grid-container.grid-container-proportional.grid-container-proportional .col-xs-6,
  .grid-container.grid-container-proportional.grid-container-proportional .col-xs-7,
  .grid-container.grid-container-proportional.grid-container-proportional .col-xs-8,
  .grid-container.grid-container-proportional.grid-container-proportional .col-xs-9,
  .grid-container.grid-container-proportional.grid-container-proportional .col-xs-10,
  .grid-container.grid-container-proportional.grid-container-proportional .col-xs-11,
  .grid-container.grid-container-proportional.grid-container-proportional .col-xs-12 {
    margin-right: 2%;
    padding: 0;
  }
  .grid-container.grid-container-proportional.grid-container-proportional .col-xs-1 {
    width: 6.33333333%;
  }
  .grid-container.grid-container-proportional.grid-container-proportional .col-xs-2 {
    width: 14.66666667%;
  }
  .grid-container.grid-container-proportional.grid-container-proportional .col-xs-3 {
    width: 23%;
  }
  .grid-container.grid-container-proportional.grid-container-proportional .col-xs-4 {
    width: 31.33333333%;
  }
  .grid-container.grid-container-proportional.grid-container-proportional .col-xs-5 {
    width: 39.66666667%;
  }
  .grid-container.grid-container-proportional.grid-container-proportional .col-xs-6 {
    width: 48%;
  }
  .grid-container.grid-container-proportional.grid-container-proportional .col-xs-7 {
    width: 56.33333333%;
  }
  .grid-container.grid-container-proportional.grid-container-proportional .col-xs-8 {
    width: 64.66666667%;
  }
  .grid-container.grid-container-proportional.grid-container-proportional .col-xs-9 {
    width: 73%;
  }
  .grid-container.grid-container-proportional.grid-container-proportional .col-xs-10 {
    width: 81.33333333%;
  }
  .grid-container.grid-container-proportional.grid-container-proportional .col-xs-11 {
    width: 89.66666667%;
  }
  .grid-container.grid-container-proportional.grid-container-proportional .col-xs-12 {
    width: 98%;
  }
}
/*
* full-width containers and fraction zones
*/
.full-width-container {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
.full-width-container.full-width-container-capped {
  max-width: 1284px;
}