/*
* FONTS
*/
/*
* MEDIA QUERIES
*/
/*
* SPACING
*/
/*
* LAYOUT 
*/
/* 
* library of mixins and variables for styling the controls in the UI Library.
* FOR USE ONLY BY FILES WITHIN THE UI LIBRARY PACKAGE ITSELF. DO NOT INCLUDE THIS FILE ELSEWHERE.
*/
/*
 * Typography
 */
/*
 * Color and styling mixins
 */
/*
 * meters (used for range slider, progress meter, and similar meters)
 */
/*
  * checkboxes and radios
  */
/*
  * option sets
  */
/*
 * NEW PLATFORM standard styling for controls that look like textbuttons
 */
/*
 * Icons and sprites
 *
 * height and width variables are in CSS pixels rather than image pixels
 */
/* 
 * "packagecssroot" is the path to the root CSS directory within the UI Library package. 
 * This path will be relative to the stylesheet that uses the mixin, not to the location of the mixin itself.
 * From the package's own stylesheets in /css/controls, this would therefore be "..", which is why that value is the default.
 * However, if these mixins are used outside the package, this will need to be explicitly set to something like "/vp/css/pkg/vp.uilibrary"
 */
/*
 * =============================================================================================================
 * GLOBALS FOR OLD PLATFORM ONLY.
 * Not for use on the new platform.
 * =============================================================================================================
 */
/* 
    Reminder: for use ONLY within the UI Library package! 

    Primarily used by the .typography-2017 selector, but also needed by some other UI Library elements that should 
    have this typography whether or not they are inside a typography-2017 section (e.g. the 2017 modal dialog skins).
*/
/* 
 * DEPRECATED. Use the visually-hidden() mixin instead of this value. 
 * some form elements need to hidden from view, but if you use display:none, some browsers have problems with event handlers.
 * instead, we have a mixin set the left property to this value, to shift the element leftwards out of view.
 */
/*
* Textbuttons in the current (2019-) platform
*/
.textbutton {
  position: relative;
  width: auto;
  min-width: 0.75em;
  padding: 0 20px;
  font-family: 'MarkPro', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 38px;
  vertical-align: middle;
  color: #00111a;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 600;
  text-decoration: none;
  background: linear-gradient(180deg, #ffffff 0%, #ffffff 100%), #fff;
  border: 1px solid #c8cbcc;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  display: inline-block;
  min-height: 0;
  letter-spacing: normal;
  text-transform: none;
}
html[lang="ja-jp"] .textbutton,
.lang-jp .textbutton {
  font-family: 'MS Gothic', 'MS Mincho', sans-serif;
}
.textbutton:hover,
.textbutton:active {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.025) 0%, rgba(0, 17, 26, 0.05) 100%), #fff;
  border-color: #aeb2b3;
}
.textbutton::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.textbutton,
.textbutton:hover,
.textbutton:active,
.textbutton:link,
.textbutton:visited {
  text-decoration: none;
}
.textbutton:hover,
.textbutton:active {
  transition: background 0.2s;
}
.firefox .textbutton:focus {
  outline: 1px dotted #0099e0;
}
.textbutton.textbutton:disabled,
.textbutton.textbutton[aria-disabled=true] {
  opacity: 0.4;
  cursor: auto;
  background: #c8cbcc;
  border-color: #c8cbcc;
  color: #00111a;
  cursor: default !important;
  pointer-events: none;
}
.textbutton.textbutton:disabled:hover,
.textbutton.textbutton[aria-disabled=true]:hover {
  color: #00111a;
}
.textbutton.textbutton:disabled.stylized-select:hover,
.textbutton.textbutton[aria-disabled=true].stylized-select:hover,
.textbutton.textbutton:disabled.stylized-select:active,
.textbutton.textbutton[aria-disabled=true].stylized-select:active {
  opacity: 0.4;
  cursor: auto;
  color: #00111a;
  background: #c8cbcc;
  border-color: #c8cbcc;
}
.textbutton.textbutton:disabled.stylized-select:hover:hover,
.textbutton.textbutton[aria-disabled=true].stylized-select:hover:hover,
.textbutton.textbutton:disabled.stylized-select:active:hover,
.textbutton.textbutton[aria-disabled=true].stylized-select:active:hover {
  color: #00111a;
}
.textbutton.textbutton:disabled.stylized-select:hover:before,
.textbutton.textbutton[aria-disabled=true].stylized-select:hover:before,
.textbutton.textbutton:disabled.stylized-select:active:before,
.textbutton.textbutton[aria-disabled=true].stylized-select:active:before {
  background-image: url('https://ui-library.cdn.vpsvc.com/css/images/icons-black-4x.png?dyn=1&width=600');
  background-size: 600px 30px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .textbutton.textbutton:disabled.stylized-select:hover:before,
  .textbutton.textbutton[aria-disabled=true].stylized-select:hover:before,
  .textbutton.textbutton:disabled.stylized-select:active:before,
  .textbutton.textbutton[aria-disabled=true].stylized-select:active:before {
    background-image: url('https://ui-library.cdn.vpsvc.com/css/images/icons-black-4x.png?dyn=1&hires=1&width=600');
  }
}
.textbutton.textbutton-mini {
  min-height: 0;
  line-height: 28px;
}
.textbutton.textbutton-super {
  line-height: 48px;
}
.textbutton.textbutton-wide {
  padding-left: 38.5px;
  padding-right: 38.5px;
}
.textbutton.textbutton-super.textbutton-wide {
  padding-left: 66.5px;
  padding-right: 66.5px;
}
.textbutton.textbutton-full-width {
  width: 100%;
}
/*
 * ========== buttons with icons ==========
 * (including round icon textbuttons)
*/
.textbutton .textbutton-icon,
.textbutton .responsive-image {
  display: block;
  text-align: center;
  margin: 0 auto;
  vertical-align: top;
  top: 0;
}
.textbutton .textbutton-icon {
  background-image: url('https://ui-library.cdn.vpsvc.com/css/images/icons-black-4x.png?dyn=1&width=600');
  background-size: 600px 30px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .textbutton .textbutton-icon {
    background-image: url('https://ui-library.cdn.vpsvc.com/css/images/icons-black-4x.png?dyn=1&hires=1&width=600');
  }
}
.textbutton.textbutton-with-icon {
  padding-right: 35px;
  text-align: left;
}
.textbutton.textbutton-with-icon .textbutton-icon {
  position: absolute;
  top: 50%;
  left: auto;
  right: 9px;
  margin: 0;
  transform: translate(0, -50%);
}
.textbutton.textbutton-with-icon.textbutton-with-icon-left {
  padding-left: 35px;
  padding-right: 11px;
  text-align: right;
}
.textbutton.textbutton-with-icon.textbutton-with-icon-left .textbutton-icon {
  left: 9px;
  right: auto;
}
.textbutton.textbutton-round {
  box-sizing: border-box;
  display: inline-block;
  min-height: 24px;
  height: 24px;
  min-width: 24px;
  width: 24px;
  padding: 2px;
  border-radius: 50%;
  box-shadow: none;
}
.textbutton.textbutton-round.textbutton-super {
  padding: 1px;
}
/*
 * icons
 * These are usable only for elements that have children (therefore cannot be used on <input> elements).
*/
.textbutton-icon-arrow-r,
.textbutton-icon-arrow-l,
.textbutton-icon-arrow-u,
.textbutton-icon-arrow-d,
.textbutton-icon-delete,
.textbutton-icon-plus,
.textbutton-icon-minus,
.textbutton-icon-check,
.textbutton-icon-radio,
.textbutton-icon-search,
.textbutton-icon-alert,
.textbutton-icon-question,
.textbutton-icon-info,
.textbutton-icon-favorite,
.textbutton-icon-next,
.textbutton-icon-prev {
  content: " ";
  display: block;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  float: right;
  position: relative;
  top: -2px;
  background-image: url('https://ui-library.cdn.vpsvc.com/css/images/icons-black-4x.png?dyn=1&width=600');
  background-size: 600px 30px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .textbutton-icon-arrow-r,
  .textbutton-icon-arrow-l,
  .textbutton-icon-arrow-u,
  .textbutton-icon-arrow-d,
  .textbutton-icon-delete,
  .textbutton-icon-plus,
  .textbutton-icon-minus,
  .textbutton-icon-check,
  .textbutton-icon-radio,
  .textbutton-icon-search,
  .textbutton-icon-alert,
  .textbutton-icon-question,
  .textbutton-icon-info,
  .textbutton-icon-favorite,
  .textbutton-icon-next,
  .textbutton-icon-prev {
    background-image: url('https://ui-library.cdn.vpsvc.com/css/images/icons-black-4x.png?dyn=1&hires=1&width=600');
  }
}
.textbutton-icon-arrow-r {
  background-position: -6px 50%;
}
.textbutton-icon-arrow-l {
  background-position: -36px 50%;
}
.textbutton-icon-arrow-u {
  background-position: -66px 50%;
}
.textbutton-icon-arrow-d {
  background-position: -96px 50%;
}
.textbutton-icon-delete {
  background-position: -186px 50%;
}
.textbutton-icon-plus {
  background-position: -126px 50%;
}
.textbutton-icon-minus {
  background-position: -156px 50%;
}
.textbutton-icon-check {
  background-position: -216px 50%;
}
.textbutton-icon-radio {
  background-position: -216px 50%;
}
.textbutton-icon-alert {
  background-position: -336px 50%;
}
.textbutton-icon-question {
  background-position: -396px 50%;
}
.textbutton-icon-info {
  background-position: -366px 50%;
}
.textbutton-icon-favorite {
  background-position: -426px 50%;
}
.textbutton-icon-next {
  background-position: -306px 50%;
}
.textbutton-icon-prev {
  background-position: -276px 50%;
}
.textbutton.textbutton .textbutton-icon.textbutton-icon-sort,
.textbutton.textbutton .textbutton-icon.textbutton-icon-search {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background-size: auto auto;
  background-position: center;
  background-repeat: no-repeat;
}
.textbutton.textbutton .textbutton-icon.textbutton-icon-sort {
  background-image: url("https://ui-library.cdn.vpsvc.com/css/images/sort.svg");
}
.textbutton.textbutton .textbutton-icon.textbutton-icon-search {
  background-image: url("https://ui-library.cdn.vpsvc.com/css/images/search.svg");
}
.textbutton.textbutton-skin-primary .textbutton-icon.textbutton-icon-search {
  filter: invert(100%) brightness(2);
}
.textbutton-icon-custom {
  content: " ";
  display: block;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  float: right;
  position: relative;
  top: -2px;
}
.textbutton .textbutton-icon-custom.textbutton-icon-custom.textbutton-icon-custom.textbutton-icon-custom,
.textbutton:hover .textbutton-icon-custom.textbutton-icon-custom.textbutton-icon-custom.textbutton-icon-custom {
  background: none;
}
.textbutton-icon-custom img,
.textbutton-icon-custom .textbutton-icon-custom-default,
.textbutton-icon-custom .textbutton-icon-custom-hover {
  width: 100%;
  vertical-align: top;
}
.textbutton-icon-custom .textbutton-icon-custom-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.textbutton:hover .textbutton-icon-custom .textbutton-icon-custom-default {
  opacity: 0;
}
.textbutton:hover .textbutton-icon-custom .textbutton-icon-custom-hover {
  opacity: 1;
}
/*
  ========== skins ==========
 */
.textbutton.textbutton-skin-primary,
.textbutton.textbutton-skin-progress,
.textbutton.textbutton-skin-checkout,
.textbutton.textbutton-skin-holiday-red,
.textbutton.textbutton-skin-holiday-white {
  border-color: transparent;
  background: linear-gradient(to bottom, #009ce5, #0096db);
}
.textbutton.textbutton-skin-primary,
.textbutton.textbutton-skin-progress,
.textbutton.textbutton-skin-checkout,
.textbutton.textbutton-skin-holiday-red,
.textbutton.textbutton-skin-holiday-white,
.textbutton.textbutton-skin-primary:link,
.textbutton.textbutton-skin-progress:link,
.textbutton.textbutton-skin-checkout:link,
.textbutton.textbutton-skin-holiday-red:link,
.textbutton.textbutton-skin-holiday-white:link,
.textbutton.textbutton-skin-primary:visited,
.textbutton.textbutton-skin-progress:visited,
.textbutton.textbutton-skin-checkout:visited,
.textbutton.textbutton-skin-holiday-red:visited,
.textbutton.textbutton-skin-holiday-white:visited {
  color: #fff;
}
.textbutton.textbutton-skin-primary:hover,
.textbutton.textbutton-skin-progress:hover,
.textbutton.textbutton-skin-checkout:hover,
.textbutton.textbutton-skin-holiday-red:hover,
.textbutton.textbutton-skin-holiday-white:hover {
  background: linear-gradient(to bottom, #00a3ef, #009ce5);
}
.textbutton.textbutton-skin-primary:active,
.textbutton.textbutton-skin-progress:active,
.textbutton.textbutton-skin-checkout:active,
.textbutton.textbutton-skin-holiday-red:active,
.textbutton.textbutton-skin-holiday-white:active {
  background: linear-gradient(to bottom, #0096db, #008fd1);
}
.textbutton.textbutton-skin-primary .textbutton-icon,
.textbutton.textbutton-skin-progress .textbutton-icon,
.textbutton.textbutton-skin-checkout .textbutton-icon,
.textbutton.textbutton-skin-holiday-red .textbutton-icon,
.textbutton.textbutton-skin-holiday-white .textbutton-icon {
  background-image: url('https://ui-library.cdn.vpsvc.com/css/images/icons-white-4x.png?dyn=1&width=600');
  background-size: 600px 30px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .textbutton.textbutton-skin-primary .textbutton-icon,
  .textbutton.textbutton-skin-progress .textbutton-icon,
  .textbutton.textbutton-skin-checkout .textbutton-icon,
  .textbutton.textbutton-skin-holiday-red .textbutton-icon,
  .textbutton.textbutton-skin-holiday-white .textbutton-icon {
    background-image: url('https://ui-library.cdn.vpsvc.com/css/images/icons-white-4x.png?dyn=1&hires=1&width=600');
  }
}
.textbutton.textbutton-skin-progress,
.textbutton.textbutton-skin-checkout {
  background: linear-gradient(to bottom, #05a84c, #059e48);
}
.textbutton.textbutton-skin-progress:hover,
.textbutton.textbutton-skin-checkout:hover {
  background: linear-gradient(to bottom, #05b251, #05a84c);
}
.textbutton.textbutton-skin-progress:active,
.textbutton.textbutton-skin-checkout:active {
  background: linear-gradient(to bottom, #059e48, #059443);
}
.textbutton.textbutton-skin-holiday-red {
  background: linear-gradient(to bottom, #a60525, #9c0523);
}
.textbutton.textbutton-skin-holiday-red:hover {
  background: linear-gradient(to bottom, #b00527, #a60525);
}
.textbutton.textbutton-skin-holiday-red:active {
  background: linear-gradient(to bottom, #9c0523, #920521);
}
.textbutton.textbutton-skin-holiday-white {
  background: #fff;
}
.textbutton.textbutton-skin-holiday-white,
.textbutton.textbutton-skin-holiday-white:link,
.textbutton.textbutton-skin-holiday-white:visited {
  color: #a10524;
}
.textbutton.textbutton-skin-holiday-white:hover {
  background: #fff;
  color: #ba062a;
}
.textbutton.textbutton-skin-holiday-white:active {
  background: #f2f2f2;
  color: #a10524;
}
.textbutton.textbutton-skin-holiday-white.textbutton:disabled {
  color: rgba(161, 5, 36, 0.5);
}
.textbutton.textbutton-skin-tertiary {
  color: #0099e0;
  background: #fff;
  border-color: currentColor;
}
.textbutton.textbutton-skin-tertiary:hover {
  color: #00aafa;
}
.textbutton.textbutton-skin-tertiary:active {
  color: #0088c7;
}
.textbutton.textbutton-skin-tertiary.textbutton:disabled,
.textbutton.textbutton-skin-tertiary.textbutton[aria-disabled=true] {
  color: #727272;
  background: #fff;
  border-color: currentColor;
}
.textbutton.textbutton-skin-hollow-white {
  color: #fff;
  background: transparent;
  border-color: currentColor;
}
.textbutton.textbutton-skin-hollow-white:hover {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}
.textbutton.textbutton-skin-hollow-white:active {
  background: linear-gradient(to bottom, rgba(252, 252, 252, 0.2), rgba(247, 247, 247, 0.2));
}
.textbutton.textbutton-skin-hollow-white.textbutton:disabled,
.textbutton.textbutton-skin-hollow-white.textbutton[aria-disabled=true] {
  color: #727272;
  background: #fff;
  border-color: currentColor;
}