/*
* FONTS
*/
/*
* MEDIA QUERIES
*/
/*
* SPACING
*/
/*
* LAYOUT 
*/
/* 
* library of mixins and variables for styling the controls in the UI Library.
* FOR USE ONLY BY FILES WITHIN THE UI LIBRARY PACKAGE ITSELF. DO NOT INCLUDE THIS FILE ELSEWHERE.
*/
/*
 * Typography
 */
/*
 * Color and styling mixins
 */
/*
 * meters (used for range slider, progress meter, and similar meters)
 */
/*
  * checkboxes and radios
  */
/*
  * option sets
  */
/*
 * NEW PLATFORM standard styling for controls that look like textbuttons
 */
/*
 * Icons and sprites
 *
 * height and width variables are in CSS pixels rather than image pixels
 */
/* 
 * "packagecssroot" is the path to the root CSS directory within the UI Library package. 
 * This path will be relative to the stylesheet that uses the mixin, not to the location of the mixin itself.
 * From the package's own stylesheets in /css/controls, this would therefore be "..", which is why that value is the default.
 * However, if these mixins are used outside the package, this will need to be explicitly set to something like "/vp/css/pkg/vp.uilibrary"
 */
/*
 * =============================================================================================================
 * GLOBALS FOR OLD PLATFORM ONLY.
 * Not for use on the new platform.
 * =============================================================================================================
 */
/* 
    Reminder: for use ONLY within the UI Library package! 

    Primarily used by the .typography-2017 selector, but also needed by some other UI Library elements that should 
    have this typography whether or not they are inside a typography-2017 section (e.g. the 2017 modal dialog skins).
*/
/* 
 * DEPRECATED. Use the visually-hidden() mixin instead of this value. 
 * some form elements need to hidden from view, but if you use display:none, some browsers have problems with event handlers.
 * instead, we have a mixin set the left property to this value, to shift the element leftwards out of view.
 */
 .stylized-dialog {
  box-sizing: border-box;
  position: fixed;
  z-index: -1;
  top: 20px;
  left: 0;
  right: 0;
  display: inline-block;
  min-width: 250px;
  width: fit-content;
  max-width: 600px;
  min-height: 50px;
  height: fit-content;
  max-height: 80%;
  margin: auto auto 10px auto;
  padding: 40px;
  color: #00111a;
  background: #fff;
  border: 1px solid #c8cbcc;
  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.2);
  overflow: auto;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.4s, opacity 0.4s;
  -webkit-overflow-scrolling: touch;
}
.ie11 .stylized-dialog {
  left: 50vw;
  right: auto;
  width: auto;
  transform: translateX(-50%) translateY(100%);
}
@media only screen and (max-width: 979px) {
  .stylized-dialog {
    max-width: 95vw;
  }
}
@media only screen and (max-width: 767px) {
  .stylized-dialog {
    max-height: calc(100% - 20px);
    -webkit-overflow-scrolling: auto;
  }
}
.stylized-dialog:not([open]) {
  display: none;
}
.stylized-dialog.stylized-dialog-visible {
  z-index: 10000;
  top: 50vh;
  opacity: 1;
  transform: translateY(-50%);
  transition: transform 0.4s, opacity 0.4s;
}
.ie11 .stylized-dialog.stylized-dialog-visible {
  transform: translateX(-50%) translateY(-50%);
}
@media only screen and (max-width: 767px) {
  .stylized-dialog.stylized-dialog-visible {
    top: 20px;
    transform: translateY(0%);
  }
}
.stylized-dialog-iframe {
  background-color: transparent;
  border: none;
}
._dialog_overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.stylized-dialog::backdrop {
  background-color: rgba(0, 0, 0, .25);
}
.stylized-dialog + .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .25);
}
.stylized-dialog-close-button {
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 2;
  padding: 0;
  margin: 0;
  height: 36px;
  width: 36px;
  color: transparent;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.stylized-dialog-close-button:before {
  display: inline-block;
  content: " ";
  display: block;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  float: right;
  position: relative;
  top: -2px;
  top: -1px;
  left: -1px;
  height: 36px;
  width: 36px;
  background-image: url('https://ui-library.cdn.vpsvc.com/css/images/icons-black-4x.png?dyn=1&width=600');
  background-size: 600px 30px;
  background-image: url('https://ui-library.cdn.vpsvc.com/css/images/icons-black-4x.png?dyn=1&width=1200');
  background-size: 1200px 60px;
  background-position: -912px 50%;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .stylized-dialog-close-button:before {
    background-image: url('https://ui-library.cdn.vpsvc.com/css/images/icons-black-4x.png?dyn=1&hires=1&width=600');
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .stylized-dialog-close-button:before {
    background-image: url('https://ui-library.cdn.vpsvc.com/css/images/icons-black-4x.png?dyn=1&hires=1&width=1200');
  }
}
.stylized-dialog-close-button:hover:before,
.stylized-dialog-close-button:active:before {
  background-image: url('https://ui-library.cdn.vpsvc.com/css/images/icons-accent-4x.png?dyn=1&width=600');
  background-size: 600px 30px;
  opacity: 1;
  background-image: url('https://ui-library.cdn.vpsvc.com/css/images/icons-accent-4x.png?dyn=1&width=1200');
  background-size: 1200px 60px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .stylized-dialog-close-button:hover:before,
  .stylized-dialog-close-button:active:before {
    background-image: url('https://ui-library.cdn.vpsvc.com/css/images/icons-accent-4x.png?dyn=1&hires=1&width=600');
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .stylized-dialog-close-button:hover:before,
  .stylized-dialog-close-button:active:before {
    background-image: url('https://ui-library.cdn.vpsvc.com/css/images/icons-accent-4x.png?dyn=1&hires=1&width=1200');
  }
}
.stylized-dialog .stylized-dialog-header {
  margin-top: 10px;
  margin-bottom: 5px;
  padding-bottom: 10px;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .stylized-dialog .stylized-dialog-header {
    font-size: 16px;
    line-height: 24px;
  }
}
.stylized-dialog .stylized-dialog-header .stylized-dialog-title,
.stylized-dialog .stylized-dialog-header h2 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}
@media only screen and (max-width: 767px) {
  .stylized-dialog .stylized-dialog-header .stylized-dialog-title,
  .stylized-dialog .stylized-dialog-header h2 {
    font-size: 16px;
    line-height: 24px;
  }
}
.stylized-dialog-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px auto 0 auto;
  padding-top: 10px;
  padding-bottom: 2px;
}
.stylized-dialog-buttons .textbutton {
  margin-left: 7px;
  margin-right: 7px;
}
.stylized-dialog-preloader {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100%;
  z-index: 10001;
}
.stylized-dialog-preloader .preloader-graphic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.stylized-dialog.stylized-dialog-scrollable {
  position: fixed;
  top: 10%;
  max-height: 80%;
  padding-bottom: 60px;
  opacity: 1;
  -webkit-overflow-scrolling: touch;
}
@media only screen and (max-width: 767px) {
  .stylized-dialog.stylized-dialog-scrollable {
    top: 20px;
    max-height: calc(100% - 20px);
  }
}
.stylized-dialog.stylized-dialog-scrollable.stylized-dialog-visible {
  transform: translateY(0%);
}
.ie11 .stylized-dialog.stylized-dialog-scrollable.stylized-dialog-visible {
  transform: translateX(-50%) translateY(0%);
  padding-bottom: 60px;
}
.stylized-dialog.stylized-dialog-scrollable .stylized-dialog-header {
  position: -webkit-sticky;
  position: sticky;
  top: -40px;
  z-index: 2;
  margin-left: -40px;
  margin-right: -40px;
  margin-top: -45px;
  padding: 10px 40px;
  background: #fff;
  border-bottom: 1px solid #c8cbcc;
}
.stylized-dialog.stylized-dialog-scrollable .stylized-dialog-header .stylized-dialog-close-button {
  top: 5px;
}
.stylized-dialog.stylized-dialog-scrollable .stylized-dialog-buttons {
  position: -webkit-sticky;
  position: sticky;
  left: -40px;
  bottom: -60px;
  margin: 20px -40px -60px -40px;
  padding-bottom: 10px;
  background: #fff;
  border-top: 1px solid #c8cbcc;
}
@media only screen and (max-width: 767px) {
  .stylized-dialog.stylized-dialog-scrollable.stylized-dialog-buttons-flush-xs .stylized-dialog-buttons {
    width: auto;
    margin-left: -40px;
    margin-right: -40px;
    padding-top: 0;
    padding-bottom: 0;
    border-top: none;
    box-shadow: 0 -1px 2px rgba(200, 203, 204, 0.5);
  }
  .stylized-dialog.stylized-dialog-scrollable.stylized-dialog-buttons-flush-xs .stylized-dialog-buttons .textbutton {
    flex-grow: 1;
    flex-basis: 0;
    display: block;
    border-width: 0;
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
  }
}
.stylized-dialog.stylized-dialog-takeover {
  top: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}
.stylized-dialog-body-constrain {
  position: fixed;
  max-height: 100%;
  overflow: hidden;
}
.stylized-dialog-scrollbar-measure {
  position: absolute;
  top: -200vh;
  width: 100px;
  height: 100px;
  overflow: scroll;
}
.stylized-dialog.stylized-dialog-skin-full-bleed {
  padding: 0;
}
.stylized-dialog.stylized-dialog-skin-full-bleed .stylized-dialog-header {
  margin-top: 20px;
}
.stylized-dialog.stylized-dialog-skin-full-bleed .stylized-dialog-iframe {
  width: 100%;
}
.stylized-dialog.stylized-dialog-panel {
  position: fixed;
  top: 0;
  left: auto;
  right: 0;
  height: 100%;
  max-height: 100%;
  margin: 0;
  padding-bottom: 0;
  overflow: auto;
  opacity: 1;
  transform: translateX(100%);
}
.stylized-dialog.stylized-dialog-panel.stylized-dialog-visible {
  transform: translateX(0%);
}
.ie11 .stylized-dialog.stylized-dialog-panel.stylized-dialog-visible {
  transform: translateX(0%);
}
.stylized-dialog.stylized-dialog-panel .stylized-dialog-panel-zone-top {
  margin: -40px -40px 20px -40px;
}
.stylized-dialog.stylized-dialog-panel .stylized-dialog-header {
  position: static;
  top: 0;
  margin: 40px 0 0 0;
  padding: 0;
  text-align: left;
  border: none;
}
.stylized-dialog.stylized-dialog-panel .stylized-dialog-header h2 {
  font-size: 28.5px;
}
.stylized-dialog.stylized-dialog-panel .stylized-dialog-panel-zone-bottom {
  position: -webkit-sticky;
  position: sticky;
  z-index: 9999;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  width: auto;
  margin: 40px -40px -40px -40px;
  padding: 20px 32px;
  background: #fff;
  border-top: 1px solid #e6e6e6;
}
.stylized-dialog.stylized-dialog-panel .stylized-dialog-panel-zone-bottom > * {
  margin-left: 8px;
  margin-right: 8px;
}
.stylized-dialog.stylized-dialog-panel .stylized-dialog-panel-zone-bottom .stylized-dialog-buttons {
  margin-top: 0;
  border-top: none;
}
@media only screen and (max-width: 767px) {
  .stylized-dialog.stylized-dialog-panel .stylized-dialog-panel-zone-bottom {
    flex-direction: column;
  }
  .stylized-dialog.stylized-dialog-panel .stylized-dialog-panel-zone-bottom > * {
    margin: 0 0 8px 0;
  }
  .stylized-dialog.stylized-dialog-panel .stylized-dialog-panel-zone-bottom .textbutton-skin-primary {
    order: 9999;
  }
}
.stylized-dialog.stylized-dialog-panel.stylized-dialog-panel-left {
  left: 0;
  right: auto;
  transform: translateX(-100%);
}
.stylized-dialog.stylized-dialog-panel.stylized-dialog-panel-left.stylized-dialog-visible {
  transform: translateX(0%);
}
.ie11 .stylized-dialog.stylized-dialog-panel.stylized-dialog-panel-left.stylized-dialog-visible {
  transform: translateX(0%);
}
@media only screen and (max-width: 767px) {
  .stylized-dialog.stylized-dialog-panel:not(.stylized-dialog-panel-menu) {
    min-width: 100vw;
  }
}
html:not(.firefox) .stylized-dialog-panel.stylized-dialog-panel-pinned[open] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
html:not(.firefox) .stylized-dialog-panel.stylized-dialog-panel-pinned > :nth-last-child(2):not(.stylized-dialog-panel-zone-bottom) {
  flex: 9999;
}
html:not(.firefox) .stylized-dialog-panel.stylized-dialog-panel-pinned .stylized-dialog-panel-zone-bottom {
  display: block;
  margin-bottom: 0;
}
@media only screen and (max-width: 767px) {
  .stylized-dialog.stylized-dialog-panel:not(.stylized-dialog-panel-menu) {
    min-width: 100vw;
  }
}
.stylized-dialog.stylized-dialog-panel-menu {
  max-width: calc(100vw - 40px);
  padding: 20px;
}
.stylized-dialog.stylized-dialog-panel-menu .stylized-dialog-header {
  margin-top: 0;
  margin-right: 36px;
}
.stylized-dialog.stylized-dialog-panel-menu .stylized-dialog-close-button {
  position: absolute;
  z-index: 3;
}
.stylized-dialog.stylized-dialog-panel-menu .stylized-dialog-buttons {
  justify-content: space-between;
  position: static;
  margin: 0 -20px -20px -20px;
  padding: 20px;
  background: #f8f8f8;
  border-top: none;
}
.stylized-dialog.stylized-dialog-panel-menu.stylized-dialog-panel-pinned .stylized-dialog-buttons {
  position: -webkit-sticky;
  position: sticky;
  z-index: 9999;
  min-height: 80px;
  bottom: -20px;
}